openapi: 3.2.0
info:
  title: Caseys General Stores Heartbeat API
  version: '1.0'
  description: 'Operations tagged heartbeat across 9 of this provider''s published API definitions: caseys-general-stores-cas-api-openapi.json, caseys-general-stores-cas-gateway-api-openapi.json, caseys-general-stores-fuel-price-api-openapi.json, caseys-general-stores-itsm-api-openapi.json, caseys-general-stores-old-store-api-openapi.json, caseys-general-stores-store-api-openapi.json, caseys-general-stores-store-messaging-api-openapi.json, caseys-general-stores-supplier-api-openapi.json…'
servers:
- url: https://esl.caseys.io/casapi
- url: https://esl.caseys.io/casgatewayapi
- url: https://esl.caseys.io/fuelpriceapi
- url: https://esl.caseys.io/itsmapi
- url: https://esl.caseys.io/oldstoreapi
- url: https://esl.caseys.io/storeapi
- url: https://esl.caseys.io/storemessagingapi
- url: https://esl.caseys.io/supplierapi
- url: https://esl.caseys.io/tanklevelapi
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: Heartbeat
paths:
  /heartbeat:
    get:
      tags:
      - Heartbeat
      summary: Gets the health of the API
      description: Interrogates the state of the API and its dependencies to return the API health.
      operationId: getHeartbeat
      responses:
        '200':
          description: The status of the APIs health. Healthy if all dependency health checks pass. Unhealthy if any dependency's health check fails, or if an exception occurs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/heartbeatReport'
              example:
                status: string
    servers:
    - url: https://esl.caseys.io/casapi
  /v1/heartbeat:
    get:
      tags:
      - Heartbeat
      summary: v1 Gets the health of the API
      description: Interrogates the state of the API and its dependencies to return the API health.
      operationId: getHeartbeatV1
      responses:
        '200':
          description: The status of the APIs health. Healthy if all dependency health checks pass. Unhealthy if any dependency's health check fails, or if an exception occurs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/heartbeatReport'
              example:
                status: string
        '401':
          description: The status of the unauthorized. 401 if unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/heartbeatReport'
              example:
                status: string
    servers:
    - url: https://esl.caseys.io/itsmapi
components:
  schemas:
    heartbeatReport:
      type: object
      properties:
        status:
          type: string
          description: Description of the current status of dependencies of the API.
    heartbeatReportV1:
      type: object
      properties:
        status:
          type: string
          description: Description of the current status of dependencies of the API.
      example: '{"status":"Healthy"}'
    heartbeatReportV0:
      type: object
      properties:
        status:
          type: string
          description: Description of the current status of dependencies of the API.
      example: '{"status":"Healthy"}'
    heartbeatReportV1_2:
      type: object
      properties:
        status:
          type: string
          description: Description of the current status of dependencies of the API.
      example:
        status: Healthy
    heartbeatReportV0_2:
      type: object
      properties:
        status:
          type: string
          description: Description of the current status of dependencies of the API.
      example:
        status: Healthy
    heartbeatReportV1_3:
      type: object
      properties:
        status:
          type: string
    heartbeatReportV1_4:
      type: object
      properties:
        status:
          type: string
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
x-refined-from:
- caseys-general-stores-cas-api-openapi.json
- caseys-general-stores-cas-gateway-api-openapi.json
- caseys-general-stores-fuel-price-api-openapi.json
- caseys-general-stores-itsm-api-openapi.json
- caseys-general-stores-old-store-api-openapi.json
- caseys-general-stores-store-api-openapi.json
- caseys-general-stores-store-messaging-api-openapi.json
- caseys-general-stores-supplier-api-openapi.json
- caseys-general-stores-tank-level-api-openapi.json
