openapi: 3.2.0
info:
  title: Caseys General Stores Openapi API
  version: '1.0'
  description: 'Operations tagged Openapi across 11 of this provider''s published API definitions: caseys-general-stores-cas-api-openapi.json, caseys-general-stores-cas-gateway-api-openapi.json, caseys-general-stores-digital-production-planner-api-openapi.json, caseys-general-stores-fuel-price-api-openapi.json, caseys-general-stores-item-api-openapi.json, caseys-general-stores-itsm-api-openapi.json, caseys-general-stores-old-store-api-openapi.json, caseys-general-stores-store-messaging-api-openapi.json…'
servers:
- url: https://esl.caseys.io/casapi
- url: https://esl.caseys.io/casgatewayapi
- url: https://esl.caseys.io/digitalproductionplannerapi
- url: https://esl.caseys.io/fuelpriceapi
- url: https://esl.caseys.io/itemapi
- url: https://esl.caseys.io/itsmapi
- url: https://esl.caseys.io/oldstoreapi
- url: https://esl.caseys.io/storemessagingapi
- url: https://esl.caseys.io/supplierapi
- url: https://esl.caseys.io/tanklevelapi
- url: https://esl.caseys.io/taxapi
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: Open API
paths:
  /openapi/V3.json:
    get:
      summary: Get OpenApi Specification
      description: Gets the OpenApi specification in V3.json format with the parameters .
      operationId: getOpenApiSpec
      responses:
        '200':
          description: ''
      tags:
      - Open API
    servers:
    - url: https://esl.caseys.io/casapi
  /openapi/v3.json:
    get:
      summary: Get OpenApi Specification
      description: Gets the OpenApi specification in . format with the parameters .
      operationId: getOpenApiSpec
      responses:
        '200':
          description: ''
      tags:
      - Open API
    servers:
    - url: https://esl.caseys.io/digitalproductionplannerapi
components:
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
x-refined-from:
- caseys-general-stores-cas-api-openapi.json
- caseys-general-stores-cas-gateway-api-openapi.json
- caseys-general-stores-digital-production-planner-api-openapi.json
- caseys-general-stores-fuel-price-api-openapi.json
- caseys-general-stores-item-api-openapi.json
- caseys-general-stores-itsm-api-openapi.json
- caseys-general-stores-old-store-api-openapi.json
- caseys-general-stores-store-messaging-api-openapi.json
- caseys-general-stores-supplier-api-openapi.json
- caseys-general-stores-tank-level-api-openapi.json
- caseys-general-stores-tax-api-openapi.json
