openapi: 3.2.0
info:
  title: SupplierApi Supplier API
  description: This is the OpenAPI Document on Azure Functions
  version: '1.0'
servers:
- url: https://esl.caseys.io/supplierapi
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: Supplier
paths:
  /v1/suppliers:
    get:
      tags:
      - Supplier
      summary: Gets the list of suppliers for a given store
      description: Gets the list of supplier id and name for a given store.
      operationId: getSuppliersForStore
      parameters:
      - name: StoreNumber
        in: query
        description: Format - int32. The store number.
        required: true
        schema:
          type: integer
      - name: Limit
        in: query
        description: Format - int32. The number of records to retrieve.
        schema:
          type: integer
      - name: Offset
        in: query
        description: Format - int32. The number of records to offset from zero.
        schema:
          type: integer
      responses:
        '200':
          description: This resource represents a list of suppliers.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/supplier'
              example:
              - partitionKey: string
                id: string
                name: string
        '500':
          description: An error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/problemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
                extensions: {}
components:
  schemas:
    problemDetails:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type: string
        instance:
          type: string
        extensions:
          type: object
          additionalProperties:
            type: object
    supplier:
      type: object
      properties:
        partitionKey:
          type: string
        id:
          type: string
        name:
          type: string
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
