openapi: 3.2.0
info:
  title: Caseys General Stores GraphQL API
  version: '1.0'
  description: 'Operations tagged GraphQL across 3 of this provider''s published API definitions: caseys-general-stores-digital-production-planner-api-openapi.json, caseys-general-stores-item-api-openapi.json, caseys-general-stores-supplier-api-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://esl.caseys.io/digitalproductionplannerapi
- url: https://esl.caseys.io/itemapi
- url: https://esl.caseys.io/supplierapi
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: Graph QL
paths:
  /graphql:
    post:
      tags:
      - Graph QL
      summary: GraphQL endpoint for production planner data
      description: Executes GraphQL operations for production planner data.
      operationId: graphql
      requestBody:
        description: The query to execute against the graph for data.
        content:
          application/json:
            schema:
              type: string
            example: string
      responses:
        '200':
          description: The production planner data returned from the executed graph query.
          content:
            application/json:
              schema:
                type: string
              example: string
    servers:
    - url: https://esl.caseys.io/digitalproductionplannerapi
components:
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
x-refined-from:
- caseys-general-stores-digital-production-planner-api-openapi.json
- caseys-general-stores-item-api-openapi.json
- caseys-general-stores-supplier-api-openapi.json
