openapi: 3.2.0
info:
  title: StoreApi Deprecated API
  description: The Store API is responsible for representing key points of information around stores.
  version: '1.0'
servers:
- url: https://esl.caseys.io/storeapi
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: Deprecated
paths:
  /brands:
    get:
      tags:
      - Deprecated
      summary: v0 Gets a list of store branding styles [DEPRECATED]
      description: Gets a list of the branding styles available for stores.
      operationId: getBrandsV0
      responses:
        '200':
          description: This resource represents a list of branding styles for stores.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/brandModelV0'
              example:
              - id: 1
                name: Casey's
        '500':
          description: An error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
  /organizational/districts/{districtId}:
    get:
      tags:
      - Deprecated
      summary: v0 Gets a district's data [DEPRECATED]
      description: Gets the data for a specific district in the organizational hierarchy.
      operationId: getDistrictByIdV0
      parameters:
      - name: districtId
        in: path
        description: The unique identifier of the district to get information for.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: This resource represents a district in the organizational hierarchy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/districtModelV0'
              example:
                id: 13
                name: District 13
                _links:
                  parent:
                    href: /organizational/regions/13
                  children:
                  - href: /store/1906
                  - href: /store/1930
                  - href: /store/1954
                  - href: /store/1957
                  - href: /store/1958
                  - href: /store/2291
                  - href: /store/2295
                  - href: /store/2945
                  - href: /store/2959
                  - href: /store/2984
                  - href: /store/3842
                  - href: /store/3894
                  - href: /store/2951
        '404':
          description: No resource was found for the given identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
        '500':
          description: An error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
  /organizational/districts:
    get:
      tags:
      - Deprecated
      summary: v0 Gets a list of districts [DEPRECATED]
      description: Gets a list of the data for all districts in the organizational hierarchy.
      operationId: getDistrictsV0
      responses:
        '200':
          description: This resource represents a list of data for all districts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/districtListModelV0'
              example:
                data:
                - id: 13
                  name: District 13
                  _links:
                    parent:
                      href: /organizational/regions/13
                    children:
                    - href: /store/1906
                    - href: /store/1930
                    - href: /store/1954
                    - href: /store/1957
                    - href: /store/1958
                    - href: /store/2291
                    - href: /store/2295
                    - href: /store/2945
                    - href: /store/2959
                    - href: /store/2984
                    - href: /store/3842
                    - href: /store/3894
                    - href: /store/2951
        '500':
          description: An error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
  /organizational/divisions/{divisionId}:
    get:
      tags:
      - Deprecated
      summary: v0 Gets a division's information [DEPRECATED]
      description: Gets the data for a specific division in the organizational hierarchy.
      operationId: getDivisionByIdV0
      parameters:
      - name: divisionId
        in: path
        description: The unique identifier of the division to get information for.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: This resource represents a division in the organizational hierarchy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/divisionModelV0'
              example:
                id: 9088
                name: Division 3
                _links:
                  parent: null
                  children:
                  - href: /organizational/regions/13
                  - href: /organizational/regions/14
                  - href: /organizational/regions/15
                  - href: /organizational/regions/16
                  - href: /organizational/regions/17
                  - href: /organizational/regions/18
        '404':
          description: No resource was found for the given identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
        '500':
          description: An error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
  /organizational/divisions:
    get:
      tags:
      - Deprecated
      summary: v0 Gets a list of divisions [DEPRECATED]
      description: Gets a list of the data for all divisions in the organizational hierarchy.
      operationId: getDivisionsV0
      responses:
        '200':
          description: This resource represents a list of data for all divisions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/divisionListModelV0'
              example:
                data:
                - id: 9088
                  name: Division 3
                  _links:
                    parent: null
                    children:
                    - href: /organizational/regions/13
                    - href: /organizational/regions/14
                    - href: /organizational/regions/15
                    - href: /organizational/regions/16
                    - href: /organizational/regions/17
                    - href: /organizational/regions/18
        '500':
          description: An error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
  /store/{storeNumber}/organizational:
    get:
      tags:
      - Deprecated
      summary: v0 Gets a store's organizational hierarchy [DEPRECATED]
      description: Gets the organizational data for a specific store.
      operationId: getStoreOrganizationByIdV0
      parameters:
      - name: storeNumber
        in: path
        description: The unique identifier of the store to get data about.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: This resource represents a store's organizational hierarchy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organizationalModelV0'
              example:
                storeNumber: 2
                districtNumber: 57
                districtName: District 57
                divisionDirectorNumber: 910714062
                divisionDirectorName: DAVE JOHNSON
                divisionDirectorEmail: dave.johnson@caseys.com
                divisionDirectorExtension: 0
                divisionDirectorHomeStore: 9085
                regionNumber: 9
                regionName: Region 9
                regionDirectorNumber: 910714062
                regionDirectorName: JOHN GRAVES
                regionDirectorEmail: John.Graves@caseys.com
                regionDirectorExtension: 0
                regionDirectorHomeStore: 2654
                divisionNumber: 9085
                divisionName: Division 1
                districtSupervisorNumber: 910714062
                districtSupervisorName: DEBORAH AHRENS
                districtSupervisorEmail: DEBORAH.AHRENS@CASEYS.COM
                districtSupervisorExtension: 18702
                districtSupervisorHomeStore: 24
                managerNumber: 910250996
                managerName: LAURIE GARRETT
                managerEmail: null
                regionalMerchandisingManagerName: WILSON WILLIAMS
        '404':
          description: No resource was found for the given identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
        '500':
          description: An error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
  /organizational/regions/{regionId}:
    get:
      tags:
      - Deprecated
      summary: v0 Gets a region's data [DEPRECATED]
      description: Gets the data for a specific region in the organizational hierarchy.
      operationId: getRegionByIdV0
      parameters:
      - name: regionId
        in: path
        description: The unique identifier of the region to get information about.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: This resource represents a region in the organizational hierarchy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/regionModelV0'
              example:
                id: 13
                name: Region 13
                _links:
                  parent:
                    href: /organizational/divisions/9088
                  children:
                  - href: /organizational/districts/13
                  - href: /organizational/districts/14
                  - href: /organizational/districts/107
                  - href: /organizational/districts/114
                  - href: /organizational/districts/115
                  - href: /organizational/districts/116
                  - href: /organizational/districts/117
                  - href: /organizational/districts/197
        '404':
          description: No resource was found for the given identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
        '500':
          description: An error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
  /organizational/regions:
    get:
      tags:
      - Deprecated
      summary: v0 Gets a list of regions [DEPRECATED]
      description: Gets a list of the data for all regions in the organizational hierarchy.
      operationId: getRegionsV0
      responses:
        '200':
          description: This resource represents a list of data for all regions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/regionListModelV0'
              example:
                data:
                - id: 13
                  name: Region 13
                  _links:
                    parent:
                      href: /organizational/divisions/9088
                    children:
                    - href: /organizational/districts/13
                    - href: /organizational/districts/14
                    - href: /organizational/districts/107
                    - href: /organizational/districts/114
                    - href: /organizational/districts/115
                    - href: /organizational/districts/116
                    - href: /organizational/districts/117
                    - href: /organizational/districts/197
        '500':
          description: An error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
  /store/{storeNumber}:
    get:
      tags:
      - Deprecated
      summary: v0 Gets a store's data [DEPRECATED]
      description: 'Gets the data for a specific store.


        Includes stores with the classifications:

        S: Store

        T: Tobacco Only

        F: Fuel Island

        G: Digital Store'
      operationId: getStoreByIdV0
      parameters:
      - name: storeNumber
        in: path
        description: The unique identifier of the store to get data about.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: This resource represents a store.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/storeInfoV0'
              example:
                storeNumber: 2
                storeName: CASEY'S GENERAL STORES
                storeShortName: 'BOONE #1'
                timeZone: C
                longitude: -93.83917299
                latitude: 42.0593372
                street: 114 MAMIE EISENHOWER AVE
                cityId: 31004
                cityName: BOONE
                stateId: 994
                stateAbbreviation: IA
                countyId: 22867
                countyName: BOONE
                zipCode: '500363424'
                poBox: PO BOX 492
                status: Open
                statusId: 3
                phone: 5551234567
                orderPhone: 5557654321
                hasATM: true
                hasBakery: true
                sellsAlcohol: true
                sellsTobacco: true
                sellsDiesel: true
                sellsDonuts: true
                sellsSoftServeIceCream: true
                sellsBreakfastSandwiches: true
                sellsPreparedSandwiches: true
                sellsSignatureSubs: true
                sellsMTOSubs: true
                sellsPizza: true
                sellsNoonPizza: true
                sellsEveningPizza: true
                hasPayAtPump: true
                hasKitchen: true
                hasThirdPartyDelivery: true
                hasCurbsidePickup: true
                hasInStorePickup: true
                style: SE
                floorPlan: null
                originalOpenDate: '2022-06-14T00:00:00.0000000+00:00'
                lastOpenDate: '1991-06-26T00:00:00.0000000+00:00'
                acquisitionName: null
                isLeftHand: false
                shelvingStyle: L
                closeDate: null
                budgetedHours: 950
                subBarDate: '2012-07-20T00:00:00.0000000+00:00'
                hasFax: false
                pizzaOpenDate: '1986-03-19T00:00:00.0000000+00:00'
                deliveryStartDate: '2021-06-28T00:00:00.0000000+00:00'
                deliveryEndDate: '2049-12-31T00:00:00.0000000+00:00'
                isLeased: false
                leaseAmount: null
                hasCarWash: true
                gasBuddyId: 144554
                brandId: 1
                brandName: Casey's
                is24Hours: false
                isFirstPartyDelivery: false
                hasOnlineOrdering: true
                loyaltyPrograms:
                - name: Hyvee
                deliveryVendors:
                - name: Doordash delivery
                carWash:
                  type: Touch Free in-bay x2
        '404':
          description: No resource was found for the given identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
        '500':
          description: An error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
  /store/{storeNumber}/hours:
    get:
      tags:
      - Deprecated
      summary: v0 Gets a store's hours [DEPRECATED]
      description: Gets the store hours data for a specific store.
      operationId: getHoursByStoreV0
      parameters:
      - name: storeNumber
        in: path
        description: The unique identifier of the store to get data about.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: This resource represents the different working hours for a store.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/storeHoursInfoV0'
              example:
                hoursBlocks:
                - type: StoreOpenHours
                  hours:
                  - dayOfWeek: Sunday
                    startTime: '2026-09-03T05:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:00:00.0000000+00:00'
                  - dayOfWeek: Monday
                    startTime: '2026-09-03T05:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:00:00.0000000+00:00'
                  - dayOfWeek: Tuesday
                    startTime: '2026-09-03T05:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:00:00.0000000+00:00'
                  - dayOfWeek: Wednesday
                    startTime: '2026-09-03T05:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:00:00.0000000+00:00'
                  - dayOfWeek: Thursday
                    startTime: '2026-09-03T05:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:00:00.0000000+00:00'
                  - dayOfWeek: Friday
                    startTime: '2026-09-03T05:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:00:00.0000000+00:00'
                  - dayOfWeek: Saturday
                    startTime: '2026-09-03T05:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:00:00.0000000+00:00'
                - type: CarryoutHours
                  hours:
                  - dayOfWeek: Sunday
                    startTime: '2026-09-03T05:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:30:00.0000000+00:00'
                  - dayOfWeek: Monday
                    startTime: '2026-09-03T05:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:30:00.0000000+00:00'
                  - dayOfWeek: Tuesday
                    startTime: '2026-09-03T05:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:30:00.0000000+00:00'
                  - dayOfWeek: Wednesday
                    startTime: '2026-09-03T05:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:30:00.0000000+00:00'
                  - dayOfWeek: Thursday
                    startTime: '2026-09-03T05:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:30:00.0000000+00:00'
                  - dayOfWeek: Friday
                    startTime: '2026-09-03T05:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:30:00.0000000+00:00'
                  - dayOfWeek: Saturday
                    startTime: '2026-09-03T05:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:30:00.0000000+00:00'
                - type: DoorDashHours
                  hours:
                  - dayOfWeek: Sunday
                    startTime: '2026-09-03T05:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:30:00.0000000+00:00'
                  - dayOfWeek: Monday
                    startTime: '2026-09-03T05:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:30:00.0000000+00:00'
                  - dayOfWeek: Tuesday
                    startTime: '2026-09-03T05:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:30:00.0000000+00:00'
                  - dayOfWeek: Wednesday
                    startTime: '2026-09-03T05:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:30:00.0000000+00:00'
                  - dayOfWeek: Thursday
                    startTime: '2026-09-03T05:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:30:00.0000000+00:00'
                  - dayOfWeek: Friday
                    startTime: '2026-09-03T05:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:30:00.0000000+00:00'
                  - dayOfWeek: Saturday
                    startTime: '2026-09-03T05:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:30:00.0000000+00:00'
                - type: PumpHours
                  hours:
                  - dayOfWeek: Sunday
                    startTime: '2026-09-03'
                    endTime: 1.00:00:00
                  - dayOfWeek: Monday
                    startTime: '2026-09-03'
                    endTime: 1.00:00:00
                  - dayOfWeek: Tuesday
                    startTime: '2026-09-03'
                    endTime: 1.00:00:00
                  - dayOfWeek: Wednesday
                    startTime: '2026-09-03'
                    endTime: 1.00:00:00
                  - dayOfWeek: Thursday
                    startTime: '2026-09-03'
                    endTime: 1.00:00:00
                  - dayOfWeek: Friday
                    startTime: '2026-09-03'
                    endTime: 1.00:00:00
                  - dayOfWeek: Saturday
                    startTime: '2026-09-03'
                    endTime: 1.00:00:00
                - type: CarWashHours
                  hours:
                  - dayOfWeek: Sunday
                    startTime: '2026-09-03'
                    endTime: 1.00:00:00
                  - dayOfWeek: Monday
                    startTime: '2026-09-03'
                    endTime: 1.00:00:00
                  - dayOfWeek: Tuesday
                    startTime: '2026-09-03'
                    endTime: 1.00:00:00
                  - dayOfWeek: Wednesday
                    startTime: '2026-09-03'
                    endTime: 1.00:00:00
                  - dayOfWeek: Thursday
                    startTime: '2026-09-03'
                    endTime: 1.00:00:00
                  - dayOfWeek: Friday
                    startTime: '2026-09-03'
                    endTime: 1.00:00:00
                  - dayOfWeek: Saturday
                    startTime: '2026-09-03'
                    endTime: 1.00:00:00
                - type: CurbSideHours
                  hours:
                  - dayOfWeek: Sunday
                    startTime: '2026-09-03T06:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:00:00.0000000+00:00'
                  - dayOfWeek: Monday
                    startTime: '2026-09-03T06:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:00:00.0000000+00:00'
                  - dayOfWeek: Tuesday
                    startTime: '2026-09-03T06:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:00:00.0000000+00:00'
                  - dayOfWeek: Wednesday
                    startTime: '2026-09-03T06:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:00:00.0000000+00:00'
                  - dayOfWeek: Thursday
                    startTime: '2026-09-03T06:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:00:00.0000000+00:00'
                  - dayOfWeek: Friday
                    startTime: '2026-09-03T06:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:00:00.0000000+00:00'
                  - dayOfWeek: Saturday
                    startTime: '2026-09-03T06:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:00:00.0000000+00:00'
                - type: KitchenHours
                  hours:
                  - dayOfWeek: Sunday
                    startTime: '2026-09-03T05:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:00:00.0000000+00:00'
                  - dayOfWeek: Sunday
                    startTime: '2026-09-03T04:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:00:00.0000000+00:00'
                  - dayOfWeek: Sunday
                    startTime: '2026-09-03T10:00:00.0000000+00:00'
                    endTime: '2026-09-03T11:00:00.0000000+00:00'
                  - dayOfWeek: Monday
                    startTime: '2026-09-03T05:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:00:00.0000000+00:00'
                  - dayOfWeek: Monday
                    startTime: '2026-09-03T04:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:00:00.0000000+00:00'
                  - dayOfWeek: Monday
                    startTime: '2026-09-03T10:00:00.0000000+00:00'
                    endTime: '2026-09-03T11:00:00.0000000+00:00'
                  - dayOfWeek: Tuesday
                    startTime: '2026-09-03T05:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:00:00.0000000+00:00'
                  - dayOfWeek: Tuesday
                    startTime: '2026-09-03T04:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:00:00.0000000+00:00'
                  - dayOfWeek: Tuesday
                    startTime: '2026-09-03T10:00:00.0000000+00:00'
                    endTime: '2026-09-03T11:00:00.0000000+00:00'
                  - dayOfWeek: Wednesday
                    startTime: '2026-09-03T05:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:00:00.0000000+00:00'
                  - dayOfWeek: Wednesday
                    startTime: '2026-09-03T04:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:00:00.0000000+00:00'
                  - dayOfWeek: Wednesday
                    startTime: '2026-09-03T10:00:00.0000000+00:00'
                    endTime: '2026-09-03T11:00:00.0000000+00:00'
                  - dayOfWeek: Thursday
                    startTime: '2026-09-03T05:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:00:00.0000000+00:00'
                  - dayOfWeek: Thursday
                    startTime: '2026-09-03T04:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:00:00.0000000+00:00'
                  - dayOfWeek: Thursday
                    startTime: '2026-09-03T10:00:00.0000000+00:00'
                    endTime: '2026-09-03T11:00:00.0000000+00:00'
                  - dayOfWeek: Friday
                    startTime: '2026-09-03T05:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:00:00.0000000+00:00'
                  - dayOfWeek: Friday
                    startTime: '2026-09-03T04:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:00:00.0000000+00:00'
                  - dayOfWeek: Friday
                    startTime: '2026-09-03T10:00:00.0000000+00:00'
                    endTime: '2026-09-03T11:00:00.0000000+00:00'
                  - dayOfWeek: Saturday
                    startTime: '2026-09-03T05:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:00:00.0000000+00:00'
                  - dayOfWeek: Saturday
                    startTime: '2026-09-03T04:00:00.0000000+00:00'
                    endTime: '2026-09-03T10:00:00.0000000+00:00'
                  - dayOfWeek: Saturday
                    startTime: '2026-09-03T10:00:00.0000000+00:00'
                    endTime: '2026-09-03T11:00:00.0000000+00:00'
                storeNumber: 2
        '404':
          description: No resource was found for the given identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
        '500':
          description: An error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
  /store/hours:
    get:
      tags:
      - Deprecated
      summary: v0 Gets all store hours for a list of paginated stores [DEPRECATED]
      description: Gets store hours data for a list of paginated stores.
      operationId: getAllStoreHoursV0
      parameters:
      - name: offset
        in: query
        description: Offsets the data in the list for use in pagination. If you make a request for the first 10 items, then you would need to pass 10 as the offset to get the next set of 10 items. The default value is 0.
        schema:
          type: integer
      - name: limit
        in: query
        description: Limits the number of results returned in the list. The default value is 10.
        schema:
          type: integer
      responses:
        '200':
          description: This resource represents a list of the store hours data for all stores.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/allStoreHoursInfoV0'
              example:
                limit: 0
                offset: 0
                count: 0
                total: 0
                data:
                - hoursBlocks:
                  - type: StoreOpenHours
                    hours:
                    - dayOfWeek: Sunday
                      startTime: '2026-09-03T05:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:00:00.0000000+00:00'
                    - dayOfWeek: Monday
                      startTime: '2026-09-03T05:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:00:00.0000000+00:00'
                    - dayOfWeek: Tuesday
                      startTime: '2026-09-03T05:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:00:00.0000000+00:00'
                    - dayOfWeek: Wednesday
                      startTime: '2026-09-03T05:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:00:00.0000000+00:00'
                    - dayOfWeek: Thursday
                      startTime: '2026-09-03T05:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:00:00.0000000+00:00'
                    - dayOfWeek: Friday
                      startTime: '2026-09-03T05:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:00:00.0000000+00:00'
                    - dayOfWeek: Saturday
                      startTime: '2026-09-03T05:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:00:00.0000000+00:00'
                  - type: CarryoutHours
                    hours:
                    - dayOfWeek: Sunday
                      startTime: '2026-09-03T05:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:30:00.0000000+00:00'
                    - dayOfWeek: Monday
                      startTime: '2026-09-03T05:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:30:00.0000000+00:00'
                    - dayOfWeek: Tuesday
                      startTime: '2026-09-03T05:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:30:00.0000000+00:00'
                    - dayOfWeek: Wednesday
                      startTime: '2026-09-03T05:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:30:00.0000000+00:00'
                    - dayOfWeek: Thursday
                      startTime: '2026-09-03T05:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:30:00.0000000+00:00'
                    - dayOfWeek: Friday
                      startTime: '2026-09-03T05:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:30:00.0000000+00:00'
                    - dayOfWeek: Saturday
                      startTime: '2026-09-03T05:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:30:00.0000000+00:00'
                  - type: DoorDashHours
                    hours:
                    - dayOfWeek: Sunday
                      startTime: '2026-09-03T05:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:30:00.0000000+00:00'
                    - dayOfWeek: Monday
                      startTime: '2026-09-03T05:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:30:00.0000000+00:00'
                    - dayOfWeek: Tuesday
                      startTime: '2026-09-03T05:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:30:00.0000000+00:00'
                    - dayOfWeek: Wednesday
                      startTime: '2026-09-03T05:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:30:00.0000000+00:00'
                    - dayOfWeek: Thursday
                      startTime: '2026-09-03T05:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:30:00.0000000+00:00'
                    - dayOfWeek: Friday
                      startTime: '2026-09-03T05:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:30:00.0000000+00:00'
                    - dayOfWeek: Saturday
                      startTime: '2026-09-03T05:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:30:00.0000000+00:00'
                  - type: PumpHours
                    hours:
                    - dayOfWeek: Sunday
                      startTime: '2026-09-03'
                      endTime: 1.00:00:00
                    - dayOfWeek: Monday
                      startTime: '2026-09-03'
                      endTime: 1.00:00:00
                    - dayOfWeek: Tuesday
                      startTime: '2026-09-03'
                      endTime: 1.00:00:00
                    - dayOfWeek: Wednesday
                      startTime: '2026-09-03'
                      endTime: 1.00:00:00
                    - dayOfWeek: Thursday
                      startTime: '2026-09-03'
                      endTime: 1.00:00:00
                    - dayOfWeek: Friday
                      startTime: '2026-09-03'
                      endTime: 1.00:00:00
                    - dayOfWeek: Saturday
                      startTime: '2026-09-03'
                      endTime: 1.00:00:00
                  - type: CarWashHours
                    hours:
                    - dayOfWeek: Sunday
                      startTime: '2026-09-03'
                      endTime: 1.00:00:00
                    - dayOfWeek: Monday
                      startTime: '2026-09-03'
                      endTime: 1.00:00:00
                    - dayOfWeek: Tuesday
                      startTime: '2026-09-03'
                      endTime: 1.00:00:00
                    - dayOfWeek: Wednesday
                      startTime: '2026-09-03'
                      endTime: 1.00:00:00
                    - dayOfWeek: Thursday
                      startTime: '2026-09-03'
                      endTime: 1.00:00:00
                    - dayOfWeek: Friday
                      startTime: '2026-09-03'
                      endTime: 1.00:00:00
                    - dayOfWeek: Saturday
                      startTime: '2026-09-03'
                      endTime: 1.00:00:00
                  - type: CurbSideHours
                    hours:
                    - dayOfWeek: Sunday
                      startTime: '2026-09-03T06:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:00:00.0000000+00:00'
                    - dayOfWeek: Monday
                      startTime: '2026-09-03T06:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:00:00.0000000+00:00'
                    - dayOfWeek: Tuesday
                      startTime: '2026-09-03T06:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:00:00.0000000+00:00'
                    - dayOfWeek: Wednesday
                      startTime: '2026-09-03T06:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:00:00.0000000+00:00'
                    - dayOfWeek: Thursday
                      startTime: '2026-09-03T06:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:00:00.0000000+00:00'
                    - dayOfWeek: Friday
                      startTime: '2026-09-03T06:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:00:00.0000000+00:00'
                    - dayOfWeek: Saturday
                      startTime: '2026-09-03T06:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:00:00.0000000+00:00'
                  - type: KitchenHours
                    hours:
                    - dayOfWeek: Sunday
                      startTime: '2026-09-03T05:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:00:00.0000000+00:00'
                    - dayOfWeek: Sunday
                      startTime: '2026-09-03T04:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:00:00.0000000+00:00'
                    - dayOfWeek: Sunday
                      startTime: '2026-09-03T10:00:00.0000000+00:00'
                      endTime: '2026-09-03T11:00:00.0000000+00:00'
                    - dayOfWeek: Monday
                      startTime: '2026-09-03T05:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:00:00.0000000+00:00'
                    - dayOfWeek: Monday
                      startTime: '2026-09-03T04:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:00:00.0000000+00:00'
                    - dayOfWeek: Monday
                      startTime: '2026-09-03T10:00:00.0000000+00:00'
                      endTime: '2026-09-03T11:00:00.0000000+00:00'
                    - dayOfWeek: Tuesday
                      startTime: '2026-09-03T05:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:00:00.0000000+00:00'
                    - dayOfWeek: Tuesday
                      startTime: '2026-09-03T04:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:00:00.0000000+00:00'
                    - dayOfWeek: Tuesday
                      startTime: '2026-09-03T10:00:00.0000000+00:00'
                      endTime: '2026-09-03T11:00:00.0000000+00:00'
                    - dayOfWeek: Wednesday
                      startTime: '2026-09-03T05:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:00:00.0000000+00:00'
                    - dayOfWeek: Wednesday
                      startTime: '2026-09-03T04:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:00:00.0000000+00:00'
                    - dayOfWeek: Wednesday
                      startTime: '2026-09-03T10:00:00.0000000+00:00'
                      endTime: '2026-09-03T11:00:00.0000000+00:00'
                    - dayOfWeek: Thursday
                      startTime: '2026-09-03T05:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:00:00.0000000+00:00'
                    - dayOfWeek: Thursday
                      startTime: '2026-09-03T04:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:00:00.0000000+00:00'
                    - dayOfWeek: Thursday
                      startTime: '2026-09-03T10:00:00.0000000+00:00'
                      endTime: '2026-09-03T11:00:00.0000000+00:00'
                    - dayOfWeek: Friday
                      startTime: '2026-09-03T05:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:00:00.0000000+00:00'
                    - dayOfWeek: Friday
                      startTime: '2026-09-03T04:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:00:00.0000000+00:00'
                    - dayOfWeek: Friday
                      startTime: '2026-09-03T10:00:00.0000000+00:00'
                      endTime: '2026-09-03T11:00:00.0000000+00:00'
                    - dayOfWeek: Saturday
                      startTime: '2026-09-03T05:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:00:00.0000000+00:00'
                    - dayOfWeek: Saturday
                      startTime: '2026-09-03T04:00:00.0000000+00:00'
                      endTime: '2026-09-03T10:00:00.0000000+00:00'
                    - dayOfWeek: Saturday
                      startTime: '2026-09-03T10:00:00.0000000+00:00'
                      endTime: '2026-09-03T11:00:00.0000000+00:00'
                  storeNumber: 2
        '400':
          description: The request received was in an invalid state or format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
        '500':
          description: An error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
  /store:
    get:
      tags:
      - Deprecated
      summary: v0 Gets store data for a list of paginated stores [DEPRECATED]
      description: 'Gets store data for a list of paginated stores.

        Includes stores with the classifications:

        S: Store

        T: Tobacco Only

        F: Fuel Island

        G: Digital Store'
      operationId: getAllStoresV0
      parameters:
      - name: offset
        in: query
        description: Offsets the data in the list for use in pagination. If you make a request for the first 10 items, then you would need to pass 10 as the offset to get the next set of 10 items. The default value is 0.
        schema:
          type: integer
      - name: limit
        in: query
        description: Limits the number of results returned in the list. The default value is 10.
        schema:
          type: integer
      - name: storeName
        in: query
        description: The store's short name of the store to get data about..
        schema:
          type: string
      - name: storeNumber
        in: query
        description: The unique identifier of the store to get data about.
        schema:
          type: integer
      - name: propertyStatus
        in: query
        description: 'Current availability status of a store.<br>Enum: 0 = `"Unknown"` 1 = `"Prospective"` 2 = `"Pending"` 3 = `"Open"` 4 = `"Closed"` 5 = `"TemporarilyClosed"` 6 = `"Canceled"`'
        schema:
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          type: integer
          default: 0
      - name: storeBrand
        in: query
        description: 'The brand of store to get data about.<br>Enum: 0 = `"Unassigned"` 1 = `"Caseys"` 2 = `"Buckys"` 3 = `"goodstop"` 4 = `"TobaccoCity"` 5 = `"LoneStar"` 6 = `"MinitMart"` 7 = `"EGAmerica"` 8 = `"CertifiedOil"` 9 = `"CEFCO"` 10 = `"LittleCaesars"` 11 = `"Sonic"` 12 = `"Subway"` 13 = `"WhichWich"` 14 = `"HuddleHouse"` 15 = `"CarlsJr"`'
        schema:
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          type: integer
          default: 0
      responses:
        '200':
          description: This resource represents a list of the store data for all stores. This list can be filtered down by using the query string parameters defined.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/allStoreInfoV0'
              example:
                limit: 0
                offset: 0
                count: 0
                total: 0
                data:
                - storeNumber: 2
                  storeName: CASEY'S GENERAL STORES
                  storeShortName: 'BOONE #1'
                  timeZone: C
                  longitude: -93.83917299
                  latitude: 42.0593372
                  street: 114 MAMIE EISENHOWER AVE
                  cityId: 31004
                  cityName: BOONE
                  stateId: 994
                  stateAbbreviation: IA
                  countyId: 22867
                  countyName: BOONE
                  zipCode: '500363424'
                  poBox: PO BOX 492
                  status: Open
                  statusId: 3
                  phone: 5551234567
                  orderPhone: 5557654321
                  hasATM: true
                  hasBakery: true
                  sellsAlcohol: true
                  sellsTobacco: true
                  sellsDiesel: true
                  sellsDonuts: true
                  sellsSoftServeIceCream: true
                  sellsBreakfastSandwiches: true
                  sellsPreparedSandwiches: true
                  sellsSignatureSubs: true
                  sellsMTOSubs: true
                  sellsPizza: true
                  sellsNoonPizza: true
                  sellsEveningPizza: true
                  hasPayAtPump: true
                  hasKitchen: true
                  hasThirdPartyDelivery: true
                  hasCurbsidePickup: true
                  hasInStorePickup: true
                  style: SE
                  floorPlan: null
                  originalOpenDate: '2022-06-14T00:00:00.0000000+00:00'
                  lastOpenDate: '1991-06-26T00:00:00.0000000+00:00'
                  acquisitionName: null
                  isLeftHand: false
                  shelvingStyle: L
                  closeDate: null
                  budgetedHours: 950
                  subBarDate: '2012-07-20T00:00:00.0000000+00:00'
                  hasFax: false
                  pizzaOpenDate: '1986-03-19T00:00:00.0000000+00:00'
                  deliveryStartDate: '2021-06-28T00:00:00.0000000+00:00'
                  deliveryEndDate: '2049-12-31T00:00:00.0000000+00:00'
                  isLeased: false
                  leaseAmount: null
                  hasCarWash: true
                  gasBuddyId: 144554
                  brandId: 1
                  brandName: Casey's
                  is24Hours: false
                  isFirstPartyDelivery: false
                  hasOnlineOrdering: true
                  loyaltyPrograms:
                  - name: Hyvee
                  deliveryVendors:
                  - name: Doordash delivery
                  carWash:
                    type: Touch Free in-bay x2
        '400':
          description: The request received was in an invalid state or format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
        '500':
          description: An error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
components:
  schemas:
    carWashV0:
      type: object
      properties:
        type:
          type: string
          description: The type of car wash services at the store.
      description: The store's car wash services.
    hourV0:
      type: object
      properties:
        dayOfWeek:
          type: string
          description: The day of the week for the hours.
        startTime:
          type: string
          description: Hours start time for the day in the format 'hh:mm:ss'
        endTime:
          type: string
          description: Hours end time for the day in the format 'hh:mm:ss'; an end time of midnight is represented as '1.00:00:00'
    linkModel:
      type: object
      properties:
        parent:
          $ref: '#/components/schemas/link'
        children:
          type: array
          items:
            $ref: '#/components/schemas/link'
          description: URLs of the children objects.
      description: URLs that are related to the current object.
    link:
      type: object
      properties:
        href:
          type: string
          description: URL definition to a defined object.
    regionListModelV0:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/regionModelV0'
          description: The data collection.
    organizationalModelV0:
      type: object
      properties:
        storeNumber:
          type: integer
          description: The number of the store.
          format: int32
        districtNumber:
          type:
          - integer
          - 'null'
          description: The number of the district to which this store belongs in the store organizational structure.
          format: int32
        districtName:
          type: string
          description: The name of the district to which this store belongs in the store organizational structure.
        divisionDirectorNumber:
          type:
          - integer
          - 'null'
          description: The Regional Manager mailer ID.
          format: int64
        divisionDirectorName:
          type: string
          description: The name of the Regional Manager.
        divisionDirectorEmail:
          type: string
          description: The email of the Regional Manager over this store.
        divisionDirectorExtension:
          type: integer
          description: The Regional Manager store extension number.
          format: int32
        divisionDirectorHomeStore:
          type: integer
          description: The number of the home store for the Regional Manager.
          format: int32
        regionNumber:
          type:
          - integer
          - 'null'
          description: The number of the region to which this store belongs in the store organizational structure.
          format: int32
        regionName:
          type: string
          description: The name of the region to which this store belongs in the store organizational structure.
        regionDirectorNumber:
          type:
          - integer
          - 'null'
          description: District Manager mailer ID.
          format: int64
        regionDirectorName:
          type: string
          description: The name of the District Manager.
        regionDirectorEmail:
          type: string
          description: The email of the District Manager over this store.
        regionDirectorExtension:
          type: integer
          description: The District Manager store extension number.
          format: int32
        regionDirectorHomeStore:
          type: integer
          description: The number of the home store for the District Manager.
          format: int32
        divisionNumber:
          type:
          - integer
          - 'null'
          description: The number of the division to which this store belongs in the store organizational structure.
          format: int32
        divisionName:
          type: string
          description: The name of the division to which this store belongs in the store organizational structure.
        districtSupervisorNumber:
          type:
          - integer
          - 'null'
          description: Area Supervisor mailer ID.
          format: int64
        districtSupervisorName:
          type: string
          description: The name of the Area Supervisor.
        districtSupervisorEmail:
          type: string
          description: The email of the Area Supervisor over this store.
        districtSupervisorExtension:
          type: integer
          description: The Area Supervisor store extension number.
          format: int32
        districtSupervisorHomeStore:
          type: integer
          description: The number of the home store for the Area Supervisor.
          format: int32
        managerNumber:
          type:
          - integer
          - 'null'
          description: Store Manager mailer ID.
          format: int64
        managerName:
          type: string
          description: The name of the Store Manager.
        managerEmail:
          type: string
          description: The email of the Store Manager over this store.
        regionalMerchandisingManagerName:
          type: string
          description: The name of the Regional Merchandising Manager.
      example:
        storeNumber: 2
        districtNumber: 57
        districtName: District 57
        divisionDirectorNumber: 910714062
        divisionDirectorName: DAVE JOHNSON
        divisionDirectorEmail: dave.johnson@caseys.com
        divisionDirectorExtension: 0
        divisionDirectorHomeStore: 9085
        regionNumber: 9
        regionName: Region 9
        regionDirectorNumber: 910714062
        regionDirectorName: JOHN GRAVES
        regionDirectorEmail: John.Graves@caseys.com
        regionDirectorExtension: 0
        regionDirectorHomeStore: 2654
        divisionNumber: 9085
        divisionName: Division 1
        districtSupervisorNumber: 910714062
        districtSupervisorName: DEBORAH AHRENS
        districtSupervisorEmail: DEBORAH.AHRENS@CASEYS.COM
        districtSupervisorExtension: 18702
        districtSupervisorHomeStore: 24
        managerNumber: 910250996
        managerName: LAURIE GARRETT
        managerEmail: null
        regionalMerchandisingManagerName: WILSON WILLIAMS
    allStoreHoursInfoV0:
      type: object
      properties:
        limit:
          type: integer
          description: The limited number of items returned.
          format: int32
        offset:
          type: integer
          description: The number of items skipped.
          format: int32
        count:
          type: integer
          description: The number of items returned.
          format: int32
        total:
          type: integer
          description: The total number of items.
          format: int32
        data:
          type: array
          items:
            $ref: '#/components/schemas/storeHoursInfoV0'
    districtModelV0:
      type: object
      properties:
        id:
          type: integer
          description: The unique identifier of the district.
          format: int32
        name:
          type: string
          description: The name of the district.
        _links:
          $ref: '#/components/schemas/linkModel'
      example:
        id: 13
        name: District 13
        _links:
          parent:
            href: /organizational/regions/13
          children:
          - href: /store/1906
          - href: /store/1930
          - href: /store/1954
          - href: /store/1957
          - href: /store/1958
          - href: /store/2291
          - href: /store/2295
          - href: /store/2945
          - href: /store/2959
          - href: /store/2984
          - href: /store/3842
          - href: /store/3894
          - href: /store/2951
    storeHoursInfoV0:
      type: object
      properties:
        hoursBlocks:
          type: array
          items:
            $ref: '#/components/schemas/hoursBlockV0'
          description: The collection of store hours by hour type.
        storeNumber:
          type: integer
          description: The number of the store.
          format: int32
      example:
        hoursBlocks:
        - type: StoreOpenHours
          hours:
          - dayOfWeek: Sunday
            startTime: '2026-09-03T05:00:00.0000000+00:00'
            endTime: '2026-09-03T10:00:00.0000000+00:00'
          - dayOfWeek: Monday
            startTime: '2026-09-03T05:00:00.0000000+00:00'
            endTime: '2026-09-03T10:00:00.0000000+00:00'
          - dayOfWeek: Tuesday
            startTime: '2026-09-03T05:00:00.0000000+00:00'
            endTime: '2026-09-03T10:00:00.0000000+00:00'
          - dayOfWeek: Wednesday
            startTime: '2026-09-03T05:00:00.0000000+00:00'
            endTime: '2026-09-03T10:00:00.0000000+00:00'
          - dayOfWeek: Thursday
            startTime: '2026-09-03T05:00:00.0000000+00:00'
            endTime: '2026-09-03T10:00:00.0000000+00:00'
          - dayOfWeek: Friday
            startTime: '2026-09-03T05:00:00.0000000+00:00'
            endTime: '2026-09-03T10:00:00.0000000+00:00'
          - dayOfWeek: Saturday
            startTime: '2026-09-03T05:00:00.0000000+00:00'
            endTime: '2026-09-03T10:00:00.0000000+00:00'
        - type: CarryoutHours
          hours:
          - dayOfWeek: Sunday
            startTime: '2026-09-03T05:00:00.0000000+00:00'
            endTime: '2026-09-03T10:30:00.0000000+00:00'
          - dayOfWeek: Monday
            startTime: '2026-09-03T05:00:00.0000000+00:00'
            endTime: '2026-09-03T10:30:00.0000000+00:00'
          - dayOfWeek: Tuesday
            startTime: '2026-09-03T05:00:00.0000000+00:00'
            endTime: '2026-09-03T10:30:00.0000000+00:00'
          - dayOfWeek: Wednesday
            startTime: '2026-09-03T05:00:00.0000000+00:00'
            endTime: '2026-09-03T10:30:00.0000000+00:00'
          - dayOfWeek: Thursday
            startTime: '2026-09-03T05:00:00.0000000+00:00'
            endTime: '2026-09-03T10:30:00.0000000+00:00'
          - dayOfWeek: Friday
            startTime: '2026-09-03T05:00:00.0000000+00:00'
            endTime: '2026-09-03T10:30:00.0000000+00:00'
          - dayOfWeek: Saturday
            startTime: '2026-09-03T05:00:00.0000000+00:00'
            endTime: '2026-09-03T10:30:00.0000000+00:00'
        - type: DoorDashHours
          hours:
          - dayOfWeek: Sunday
            startTime: '2026-09-03T05:00:00.0000000+00:00'
            endTime: '2026-09-03T10:30:00.0000000+00:00'
          - dayOfWeek: Monday
            startTime: '2026-09-03T05:00:00.0000000+00:00'
            endTime: '2026-09-03T10:30:00.0000000+00:00'
          - dayOfWeek: Tuesday
            startTime: '2026-09-03T05:00:00.0000000+00:00'
            endTime: '2026-09-03T10:30:00.0000000+00:00'
          - dayOfWeek: Wednesday
            startTime: '2026-09-03T05:00:00.0000000+00:00'
            endTime: '2026-09-03T10:30:00.0000000+00:00'
          - dayOfWeek: Thursday
            startTime: '2026-09-03T05:00:00.0000000+00:00'
            endTime: '2026-09-03T10:30:00.0000000+00:00'
          - dayOfWeek: Friday
            startTime: '2026-09-03T05:00:00.0000000+00:00'
            endTime: '2026-09-03T10:30:00.0000000+00:00'
          - dayOfWeek: Saturday
            startTime: '2026-09-03T05:00:00.0000000+00:00'
            endTime: '2026-09-03T10:30:00.0000000+00:00'
        - type: PumpHours
          hours:
          - dayOfWeek: Sunday
            startTime: '2026-09-03'
            endTime: 1.00:00:00
          - dayOfWeek: Monday
            startTime: '2026-09-03'
            endTime: 1.00:00:00
          - dayOfWeek: Tuesday
            startTime: '2026-09-03'
            endTime: 1.00:00:00
          - dayOfWeek: Wednesday
            startTime: '2026-09-03'
            endTime: 1.00:00:00
          - dayOfWeek: Thursday
            startTime: '2026-09-03'
            endTime: 1.00:00:00
          - dayOfWeek: Friday
            startTime: '2026-09-03'
            endTime: 1.00:00:00
          - dayOfWeek: Saturday
            startTime: '2026-09-03'
            endTime: 1.00:00:00
        - type: CarWashHours
          hours:
          - dayOfWeek: Sunday
            startTime: '2026-09-03'
            endTime: 1.00:00:00
          - dayOfWeek: Monday
            startTime: '2026-09-03'
            endTime: 1.00:00:00
          - dayOfWeek: Tuesday
            startTime: '2026-09-03'
            endTime: 1.00:00:00
          - dayOfWeek: Wednesday
            startTime: '2026-09-03'
            endTime: 1.00:00:00
          - dayOfWeek: Thursday
            startTime: '2026-09-03'
            endTime: 1.00:00:00
          - dayOfWeek: Friday
            startTime: '2026-09-03'
            endTime: 1.00:00:00
          - dayOfWeek: Saturday
            startTime: '2026-09-03'
            endTime: 1.00:00:00
        - type: CurbSideHours
          hours:
          - dayOfWeek: Sunday
            startTime: '2026-09-03T06:00:00.0000000+00:00'
            endTime: '2026-09-03T10:00:00.0000000+00:00'
          - dayOfWeek: Monday
            startTime: '2026-09-03T06:00:00.0000000+00:00'
            endTime: '2026-09-03T10:00:00.0000000+00:00'
          - dayOfWeek: Tuesday
            startTime: '2026-09-03T06:00:00.0000000+00:00'
            endTime: '2026-09-03T10:00:00.0000000+00:00'
          - dayOfWeek: Wednesday
            startTime: '2026-09-03T06:00:00.0000000+00:00'
            endTime: '2026-09-03T10:00:00.0000000+00:00'
          - dayOfWeek: Thursday
            startTime: '2026-09-03T06:00:00.0000000+00:00'
            endTime: '2026-09-03T10:00:00.0000000+00:00'
          - dayOfWeek: Friday
            startTime: '2026-09-03T06:00:00.0000000+00:00'
            endTime: '2026-09-03T10:00:00.0000000+00:00'
          - dayOfWeek: Saturday
            startTime: '2026-09-03T06:00:00.0000000+00:00'
            endTime: '2026-09-03T10:00:00.0000000+00:00'
        - type: KitchenHours
          hours:
          - dayOfWeek: Sunday
            startTime: '2026-09-03T05:00:00.0000000+00:00'
            endTime: '2026-09-03T10:00:00.0000000+00:00'
          - dayOfWeek: Sunday
            startTime: '2026-09-03T04:00:00.0000000+00:00'
            endTime: '2026-09-03T10:00:00.0000000+00:00'
          - dayOfWeek: Sunday
            startTime: '2026-09-03T10:00:00.0000000+00:00'
            endTime: '2026-09-03T11:00:00.0000000+00:00'
          - dayOfWeek: Monday
            startTime: '2026-09-03T05:00:00.0000000+00:00'
            endTime: '2026-09-03T10:00:00.0000000+00:00'
          - dayOfWeek: Monday
            startTime: '2026-09-03T04:00:00.0000000+00:00'
            endTime: '2026-09-03T10:00:00.0000000+00:00'
          - dayOfWeek: Monday
            startTime: '2026-09-03T10:00:00.0000000+00:00'
            endTime: '2026-09-03T11:00:00.0000000+00:00'
          - dayOfWeek: Tuesday
            startTime: '2026-09-03T05:00:00.0000000+00:00'
            endTime: '2026-09-03T10:00:00.0000000+00:00'
          - dayOfWeek: Tuesday
            startTime: '2026-09-03T04:00:00.0000000+00:00'
            endTime: '2026-09-03T10:00:00.0000000+00:00'
          - dayOfWeek: Tuesday
            startTime: '2026-09-03T10:00:00.0000000+00:00'
            endTime: '2026-09-03T11:00:00.0000000+00:00'
          - dayOfWeek: Wednesday
            startTime: '2026-09-03T05:00:00.0000000+00:00'
            endTime: '2026-09-03T10:00:00.0000000+00:00'
          - dayOfWeek: Wednesday
            startTime: '2026-09-03T04:00:00.0000000+00:00'
            endTime: '2026-09-03T10:00:00.0000000+00:00'
          - dayOfWeek: Wednesday
            startTime: '2026-09-03T10:00:00.0000000+00:00'
            endTime: '2026-09-03T11:00:00.0000000+00:00'
          - dayOfWeek: Thursday
            startTime: '2026-09-03T05:00:00.0000000+00:00'
            endTime: '2026-09-03T10:00:00.0000000+00:00'
          - dayOfWeek: Thursday
            startTime: '2026-09-03T04:00:00.0000000+00:00'
            endTime: '2026-09-03T10:00:00.0000000+00:00'
          - dayOfWeek: Thursday
            startTime: '2026-09-03T10:00:00.0000000+00:00'
            endTime: '2026-09-03T11:00:00.0000000+00:00'
          - dayOfWeek: Friday
            startTime: '2026-09-03T05:00:00.0000000+00:00'
            endTime: '2026-09-03T10:00:00.0000000+00:00'
          - dayOfWeek: Friday
            startTime: '2026-09-03T04:00:00.0000000+00:00'
            endTime: '2026-09-03T10:00:00.0000000+00:00'
          - dayOfWeek: Friday
            startTime: '2026-09-03T10:00:00.0000000+00:00'
            endTime: '2026-09-03T11:00:00.0000000+00:00'
          - dayOfWeek: Saturday
            startTime: '2026-09-03T05:00:00.0000000+00:00'
            endTime: '2026-09-03T10:00:00.0000000+00:00'
          - dayOfWeek: Saturday
            startTime: '2026-09-03T04:00:00.0000000+00:00'
            endTime: '2026-09-03T10:00:00.0000000+00:00'
          - dayOfWeek: Saturday
            startTime: '2026-09-03T10:00:00.0000000+00:00'
            endTime: '2026-09-03T11:00:00.0000000+00:00'
        storeNumber: 2
    districtListModelV0:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/districtModelV0'
          description: The data collection.
    hoursBlockV0:
      type: object
      properties:
        type:
          type: string
          description: Describes the scenario type the hours are for.
        hours:
          type: array
          items:
            $ref: '#/components/schemas/hourV0'
          description: Collection of hours for each day.
    storeLoyaltyProgramInfoV0:
      type: object
      properties:
        name:
          type: string
    apiError:
      type: object
      properties:
        code:
          type: integer
          description: Status code of the error.
          format: int32
        message:
          type: string
          description: Message that describes the error.
    storeInfoV0:
      type: object
      properties:
        storeNumber:
          type: integer
          description: The number of the store.
          format: int32
        storeName:
          type: string
          description: The name of the CGS subsidiary company operating this Store.
        storeShortName:
          type: string
          description: 'City of operation, and cardinality within city/town if applicable, e.g. ANKENY #2, ANKENY #3, etc.'
        timeZone:
          type: string
          description: C = Central; E = Eastern.
        longitude:
          type: number
          description: The longitude of the Store address.
          format: double
        latitude:
          type: number
          description: The latitude of the Store address.
          format: double
        street:
          type: string
          description: Street address of this Store.
        cityId:
          type: integer
          description: Reference identity to the city the store is located in.
          format: int32
        cityName:
          type: string
          description: Name of the city the store is located in.
        stateId:
          type: integer
          description: Reference identity to the state the store is located in.
          format: int32
        stateAbbreviation:
          type: string
          description: Abbreviation of the state the store is located in.
        countyId:
          type: integer
          description: Reference identity to the county the store is located in.
          format: int32
        countyName:
          type: string
          description: Name of the county the store is located in.
        zipCode:
          type: string
          description: ZIP postal code.
        poBox:
          type: string
          description: PO Box number, if applicable.
        status:
          type: string
          description: 'Name of the current status of availability of the store.<br>Enum: `"Unknown"` `"Prospective"` `"Pending"` `"Open"` `"Closed"` `"TemporarilyClosed"` `"Canceled"`'
        statusId:
          type: integer
          description: Id of the current status of availability of the store.
          format: int32
        phone:
          type: integer
          description: Ten digit main phone number for Store.
          format: int64
        orderPhone:
          type: integer
          description: Ten digit phone number for pizza orders.
          format: int64
        hasATM:
          type: boolean
          description: Does this Store have a third-party supplied ATM inside?
        hasBakery:
          type: boolean
          description: Does this Store sell NO-BAKE bakery items, e.g. puppy chow or pb/choc krispy bars, or other non-donut/pizza baked goods?
        sellsAlcohol:
          type: boolean
          description: Does this store sell alcohol?
        sellsTobacco:
          type: boolean
          description: Does this store sell tobacco?
        sellsDiesel:
          type: boolean
          description: Does this Store sell diesel fuel, either at car pump islands or at truck fueling islands, or both?
        sellsDonuts:
          type: boolean
          description: Does this Store sell donuts, either made on-site or vendor-supplied?
        sellsSoftServeIceCream:
          type: boolean
          description: Does this Store sell soft-serve ice cream?
        sellsBreakfastSandwiches:
          type: boolean
          description: Does this Store sell breakfast sandwiches (biscuit/croissant)?
        sellsPreparedSandwiches:
          type: boolean
          description: Does this Store sell prepared (non-breakfast) sandwiches?
        sellsSignatureSubs:
          type: boolean
          description: Does this Store sell Signature Subs (separate counter-top closed cooler case or open-case cooler; not MTO!)?
        sellsMTOSubs:
          type: boolean
          description: Does this Store sell MTO (made-to-order) sub sandwiches?
        sellsPizza:
          type: boolean
          description: Does this Store sell pizza, either made on-site or vendor supplied?
        sellsNoonPizza:
          type: boolean
          description: Does this Store sell pizza slices at lunch rush time?
        sellsEveningPizza:
          type: boolean
          description: Does this Store sell pizza slices at dinner rush time?
        hasPayAtPump:
          type: boolean
          description: Is pay-at-the-pump turned on and functional at this Store?
        hasKitchen:
          type: boolean
          description: Does this store have a kitchen?
        hasThirdPartyDelivery:
          type: boolean
          description: Does this store use a third party to make deliveries?
        hasCurbsidePickup:
          type: boolean
          description: Does this store do curbside pickup?
        hasInStorePickup:
          type: boolean
          description: Does this store have in-store pickup?
        style:
          type: string
          description: StoreStyle code for this Store.
        floorPlan:
          type: string
          description: Description of the Store floor plan or interior layout.
        originalOpenDate:
          type: string
          description: Format - ISO8601 Date on which this Store was FIRST opened.
        lastOpenDate:
          type: string
          description: Format - ISO8601 Date on which this Store was LAST opened, as in after a remodel or site-scrape.
        acquisitionName:
          type: string
          description: If this Store was an acquisition, who was it acquired from (chain-name/trade-name)?
        isLeftHand:
          type: boolean
          description: Every once in a while, we used to build a store *backwards* or LEFT-hand. Indicates whether the counter is on the left as one walks into the Store. This no longer happens.
        shelvingStyle:
          type: string
          description: Style of retail shelving in use at this Store.
        closeDate:
          type: string
          description: Format - ISO8601 Date on which this Store was last closed.
        budgetedHours:
          type:
          - integer
          - 'null'
          description: The number of hours the store has budgeted for employees in a week.
          format: int32
        subBarDate:
          type: string
          description: Format - ISO8601 Date on which we completed a G or E remodel that included installing a MTO Sub Sandwich bar. Note that G/E-style remodels are very similar as the floor-plans are similar.
        hasFax:
          type: boolean
          description: Can a store receive faxes?
        pizzaOpenDate:
          type: string
          description: Format - ISO8601 Date on which pizza was first made and sold in this Store.
        deliveryStartDate:
          type: string
          description: Format - ISO8601 Date on which pizza delivery last started.
        deliveryEndDate:
          type: string
          description: Format - ISO8601 Date on which pizza delivery last ended.
        isLeased:
          type: boolean
          description: Is the store being leased?
        leaseAmount:
          type:
          - number
          - 'null'
          description: Lease amount per month, if applicable.
          format: double
        hasCarWash:
          type: boolean
          description: Does this store have a car wash?
        gasBuddyId:
          type:
          - integer
          - 'null'
          description: The store's identity in Gas Buddy.
          format: int32
        brandId:
          type: integer
          description: The store's brand id.
          format: int32
        brandName:
          type: string
          description: The store's brand name.
        is24Hours:
          type: boolean
          description: Is the store open 24 hours?
        isFirstPartyDelivery:
          type: boolean
          description: Does this store offer Casey's delivery?
        hasOnlineOrdering:
          type: boolean
          description: The store's delivery software.
        loyaltyPrograms:
          type: array
          items:
            $ref: '#/components/schemas/storeLoyaltyProgramInfoV0'
          description: The store's loyalty programs.
        deliveryVendors:
          type: array
          items:
            $ref: '#/components/schemas/deliveryVendorsInfoV0'
          description: A collection of available delivery vendors for the store.
        carWash:
          $ref: '#/components/schemas/carWashV0'
      example:
        storeNumber: 2
        storeName: CASEY'S GENERAL STORES
        storeShortName: 'BOONE #1'
        timeZone: C
        longitude: -93.83917299
        latitude: 42.0593372
        street: 114 MAMIE EISENHOWER AVE
        cityId: 31004
        cityName: BOONE
        stateId: 994
        stateAbbreviation: IA
        countyId: 22867
        countyName: BOONE
        zipCode: '500363424'
        poBox: PO BOX 492
        status: Open
        statusId: 3
        phone: 5551234567
        orderPhone: 5557654321
        hasATM: true
        hasBakery: true
        sellsAlcohol: true
        sellsTobacco: true
        sellsDiesel: true
        sellsDonuts: true
        sellsSoftServeIceCream: true
        sellsBreakfastSandwiches: true
        sellsPreparedSandwiches: true
        sellsSignatureSubs: true
        sellsMTOSubs: true
        sellsPizza: true
        sellsNoonPizza: true
        sellsEveningPizza: true
        hasPayAtPump: true
        hasKitchen: true
        hasThirdPartyDelivery: true
        hasCurbsidePickup: true
        hasInStorePickup: true
        style: SE
        floorPlan: null
        originalOpenDate: '2022-6-14T00:00:00.000Z'
        lastOpenDate: '1991-06-26T00:00:00Z'
        acquisitionName: null
        isLeftHand: false
        shelvingStyle: L
        closeDate: null
        budgetedHours: 950
        subBarDate: '2012-07-20T00:00:00Z'
        hasFax: false
        pizzaOpenDate: '1986-03-19T00:00:00Z'
        deliveryStartDate: '2021-06-28T00:00:00Z'
        deliveryEndDate: '2049-12-31T00:00:00Z'
        isLeased: false
        leaseAmount: null
        hasCarWash: true
        gasBuddyId: 144554
        brandId: 1
        brandName: Casey's
        is24Hours: false
        isFirstPartyDelivery: false
        hasOnlineOrdering: true
        loyaltyPrograms:
        - name: Hyvee
        deliveryVendors:
        - name: Doordash delivery
        carWash:
          type: Touch Free in-bay x2
    regionModelV0:
      type: object
      properties:
        id:
          type: integer
          description: The unique identifier of the region.
          format: int32
        name:
          type: string
          description: The name of the region.
        _links:
          $ref: '#/components/schemas/linkModel'
      example:
        id: 13
        name: Region 13
        _links:
          parent:
            href: /organizational/divisions/9088
          children:
          - href: /organizational/districts/13
          - href: /organizational/districts/14
          - href: /organizational/districts/107
          - href: /organizational/districts/114
          - href: /organizational/districts/115
          - href: /organizational/districts/116
          - href: /organizational/districts/117
          - href: /organizational/districts/197
    divisionModelV0:
      type: object
      properties:
        id:
          type: integer
          description: The unique identifier of the division.
          format: int32
        name:
          type: string
          description: The name of the division.
        _links:
          $ref: '#/components/schemas/linkModel'
      example:
        id: 9088
        name: Division 3
        _links:
          parent: null
          children:
          - href: /organizational/regions/13
          - href: /organizational/regions/14
          - href: /organizational/regions/15
          - href: /organizational/regions/16
          - href: /organizational/regions/17
          - href: /organizational/regions/18
    allStoreInfoV0:
      type: object
      properties:
        limit:
          type: integer
          description: The limited number of items returned.
          format: int32
        offset:
          type: integer
          description: The number of items skipped.
          format: int32
        count:
          type: integer
          description: The number of items returned.
          format: int32
        total:
          type: integer
          description: The total number of items.
          format: int32
        data:
          type: array
          items:
            $ref: '#/components/schemas/storeInfoV0'
    deliveryVendorsInfoV0:
      type: object
      properties:
        name:
          type: string
          description: The name of the delivery vendor.
    divisionListModelV0:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/divisionModelV0'
          description: The data collection.
    brandModelV0:
      type: object
      properties:
        id:
          type: integer
          description: The unique identifier for the brand.
          format: int32
        name:
          type: string
          description: The name of the brand.
      example:
        id: 1
        name: Casey's
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
