openapi: 3.2.0
info:
  title: Caseys General Stores V1Stores API
  version: '1.0'
  description: 'Operations tagged V1Stores across 2 of this provider''s published API definitions: caseys-general-stores-store-api-openapi.json, caseys-general-stores-store-details-api-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://esl.caseys.io/storeapi
- url: https://esl.caseys.io/storedetailsapi
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: V1Stores
paths:
  /v1/stores:
    get:
      tags:
      - V1Stores
      summary: /v1/stores - GET
      operationId: get-v1-stores
      parameters:
      - name: Offset
        in: query
        schema:
          type: integer
      - name: Limit
        in: query
        schema:
          type: integer
      - name: StoreName
        in: query
        schema:
          type: string
      - name: StoreNumber
        in: query
        schema:
          type: string
      - name: Status
        in: query
        schema:
          type: string
      - name: Brand
        in: query
        schema:
          type: string
      - name: Classification
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
    servers:
    - url: https://esl.caseys.io/storeapi
components:
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
x-refined-from:
- caseys-general-stores-store-api-openapi.json
- caseys-general-stores-store-details-api-openapi.json
