openapi: 3.2.0
info:
  title: StoreMessagingApi Print API
  description: An API that allows services at the store to receive messages from external sources.
  version: '1.0'
servers:
- url: https://esl.caseys.io/storemessagingapi
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: Print
paths:
  /print/tickets:
    post:
      summary: This is specific to Order Fulfillment.
      description: Sends a specific print ticket request for a store number to azure service bus to forward to store agent.
      operationId: StorePrintingEndpoint
      parameters:
      - name: x-correlation-id
        in: header
        description: An identifier that will be used to aggregate all logs across all systems the request passes through.
        required: true
        schema:
          type: string
      requestBody:
        description: Data containing print ticket request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/printTicketsInput'
            example:
              storeNumber: 0
              messageType: string
              eventTime: string
              requestedBy: string
              data:
              - string
              timeToLive: 300
      responses:
        '202':
          description: The status of the print ticket request. 202 if successful
        '400':
          description: The details of the invalid values included in the request payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationProblemDetails'
              example:
                errors: {}
                type: string
                title: string
                status: 0
                detail: string
                instance: string
                extensions: {}
      tags:
      - Print
components:
  schemas:
    validationProblemDetails:
      type: object
      properties:
        errors:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/list_string'
        type:
          type: string
        title:
          type: string
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type: string
        instance:
          type: string
        extensions:
          type: object
          additionalProperties:
            type: object
    printTicketsInput:
      type: object
      properties:
        storeNumber:
          type: integer
          description: The Id of the store to send the message to.
          format: int32
        messageType:
          type: string
          description: The type of message being sent to the store. This value is blindly passed-through by the API. It is up to the producer and consumer of the message to agree on this value.
        eventTime:
          type: string
          description: The time the event was created or sent to the API. Defaults to the current time UTC.
        requestedBy:
          type: string
        data:
          type: array
          items:
            type: string
          description: A list of messages payloads to send to the store. This value is sent as a single message to the store. It is up to the consumer to know how to deserialize and handle the list of messages.
        timeToLive:
          type: integer
          description: The amount of time, in seconds, before the request is expired and not sent to the store. This value defaults to 300 seconds, which is the maximum time allowed.
          format: int32
          default: 300
    list_string:
      type: array
      items:
        type: string
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
