openapi: 3.2.0
info:
  title: Caseys General Stores organization hierarchy API
  version: '1.0'
  description: 'Operations tagged organization hierarchy across 2 of this provider''s published API definitions: caseys-general-stores-old-store-api-openapi.json, caseys-general-stores-store-api-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://esl.caseys.io/oldstoreapi
- url: https://esl.caseys.io/storeapi
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: organization hierarchy
paths:
  /v1/organizational/districts/{districtId}:
    get:
      tags:
      - organization hierarchy
      summary: v1 Gets a district's data
      description: Gets the data for a specific district in the organizational hierarchy.
      operationId: getDistrictByIdV1
      parameters:
      - name: districtId
        in: path
        description: The unique identifier of the district to get information for.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: This resource represents a district in the organizational hierarchy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/districtModelV1'
              example:
                id: 13
                name: District 13
                _links:
                  parent:
                    href: /v1/organizational/regions/13
                  children:
                  - href: /v1/store/1906
                  - href: /v1/store/1930
                  - href: /v1/store/1954
                  - href: /v1/store/1957
                  - href: /v1/store/1958
                  - href: /v1/store/2291
                  - href: /v1/store/2295
                  - href: /v1/store/2945
                  - href: /v1/store/2959
                  - href: /v1/store/2984
                  - href: /v1/store/3842
                  - href: /v1/store/3894
                  - href: /v1/store/2951
        '404':
          description: No resource was found for the given identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
        '500':
          description: An error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
    servers:
    - url: https://esl.caseys.io/oldstoreapi
  /v1/organizational/districts:
    get:
      tags:
      - organization hierarchy
      summary: v1 Gets a list of districts
      description: Gets a list of the data for all districts in the organizational hierarchy.
      operationId: getDistrictsV1
      responses:
        '200':
          description: This resource represents a list of data for all districts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/districtListModelV1'
              example:
                data:
                - '{"id":13,"name":"District 13","_links":{"parent":{"href":"/v1/organizational/regions/13"},"children":[{"href":"/v1/store/1906"},{"href":"/v1/store/1930"},{"href":"/v1/store/1954"},{"href":"/v1/store/1957"},{"href":"/v1/store/1958"},{"href":"/v1/store/2291"},{"href":"/v1/store/2295"},{"href":"/v1/store/2945"},{"href":"/v1/store/2959"},{"href":"/v1/store/2984"},{"href":"/v1/store/3842"},{"href":"/v1/store/3894"},{"href":"/v1/store/2951"}]}}'
        '500':
          description: An error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
    servers:
    - url: https://esl.caseys.io/oldstoreapi
  /v1/organizational/divisions/{divisionId}:
    get:
      tags:
      - organization hierarchy
      summary: v1 Gets a division's information
      description: Gets the data for a specific division in the organizational hierarchy.
      operationId: getDivisionByIdV1
      parameters:
      - name: divisionId
        in: path
        description: The unique identifier of the division to get information for.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: This resource represents a division in the organizational hierarchy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/divisionModelV1'
              example:
                id: 9088
                name: Division 3
                _links:
                  parent: null
                  children:
                  - href: /v1/organizational/regions/13
                  - href: /v1/organizational/regions/14
                  - href: /v1/organizational/regions/15
                  - href: /v1/organizational/regions/16
                  - href: /v1/organizational/regions/17
                  - href: /v1/organizational/regions/18
        '404':
          description: No resource was found for the given identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
        '500':
          description: An error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
    servers:
    - url: https://esl.caseys.io/oldstoreapi
  /v1/organizational/divisions:
    get:
      tags:
      - organization hierarchy
      summary: v1 Gets a list of divisions
      description: Gets a list of the data for all divisions in the organizational hierarchy.
      operationId: getDivisionsV1
      responses:
        '200':
          description: This resource represents a list of data for all divisions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/divisionListModelV1'
              example:
                data:
                - '{"id":9088,"name":"Division 3","_links":{"parent":null,"children":[{"href":"/v1/organizational/regions/13"},{"href":"/v1/organizational/regions/14"},{"href":"/v1/organizational/regions/15"},{"href":"/v1/organizational/regions/16"},{"href":"/v1/organizational/regions/17"},{"href":"/v1/organizational/regions/18"}]}}'
        '500':
          description: An error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
    servers:
    - url: https://esl.caseys.io/oldstoreapi
  /v1/organizational/regions/{regionId}:
    get:
      tags:
      - organization hierarchy
      summary: v1 Gets a region's data
      description: Gets the data for a specific region in the organizational hierarchy.
      operationId: getRegionByIdV1
      parameters:
      - name: regionId
        in: path
        description: The unique identifier of the region to get information about.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: This resource represents a region in the organizational hierarchy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/regionModelV1'
              example:
                id: 13
                name: Region 13
                _links:
                  parent:
                    href: /v1/organizational/divisions/9088
                  children:
                  - href: /v1/organizational/districts/13
                  - href: /v1/organizational/districts/14
                  - href: /v1/organizational/districts/107
                  - href: /v1/organizational/districts/114
                  - href: /v1/organizational/districts/115
                  - href: /v1/organizational/districts/116
                  - href: /v1/organizational/districts/117
                  - href: /v1/organizational/districts/197
        '404':
          description: No resource was found for the given identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
        '500':
          description: An error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
    servers:
    - url: https://esl.caseys.io/oldstoreapi
  /v1/organizational/regions:
    get:
      tags:
      - organization hierarchy
      summary: v1 Gets a list of regions
      description: Gets a list of the data for all regions in the organizational hierarchy.
      operationId: getRegionsV1
      responses:
        '200':
          description: This resource represents a list of data for all regions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/regionListModelV1'
              example:
                data:
                - '{"id":13,"name":"Region 13","_links":{"parent":{"href":"/v1/organizational/divisions/9088"},"children":[{"href":"/v1/organizational/districts/13"},{"href":"/v1/organizational/districts/14"},{"href":"/v1/organizational/districts/107"},{"href":"/v1/organizational/districts/114"},{"href":"/v1/organizational/districts/115"},{"href":"/v1/organizational/districts/116"},{"href":"/v1/organizational/districts/117"},{"href":"/v1/organizational/districts/197"}]}}'
        '500':
          description: An error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
    servers:
    - url: https://esl.caseys.io/oldstoreapi
  /organizational/districts/{districtId}:
    get:
      tags:
      - organization hierarchy
      summary: v0 Gets a district's data [DEPRECATED]
      description: Gets the data for a specific district in the organizational hierarchy.
      operationId: getDistrictByIdV0
      parameters:
      - name: districtId
        in: path
        description: The unique identifier of the district to get information for.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: This resource represents a district in the organizational hierarchy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/districtModelV0'
              example:
                id: 13
                name: District 13
                _links:
                  parent:
                    href: /organizational/regions/13
                  children:
                  - href: /store/1906
                  - href: /store/1930
                  - href: /store/1954
                  - href: /store/1957
                  - href: /store/1958
                  - href: /store/2291
                  - href: /store/2295
                  - href: /store/2945
                  - href: /store/2959
                  - href: /store/2984
                  - href: /store/3842
                  - href: /store/3894
                  - href: /store/2951
        '404':
          description: No resource was found for the given identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
        '500':
          description: An error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
    servers:
    - url: https://esl.caseys.io/oldstoreapi
  /organizational/districts:
    get:
      tags:
      - organization hierarchy
      summary: v0 Gets a list of districts [DEPRECATED]
      description: Gets a list of the data for all districts in the organizational hierarchy.
      operationId: getDistrictsV0
      responses:
        '200':
          description: This resource represents a list of data for all districts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/districtListModelV0'
              example:
                data:
                - '{"id":13,"name":"District 13","_links":{"parent":{"href":"/organizational/regions/13"},"children":[{"href":"/store/1906"},{"href":"/store/1930"},{"href":"/store/1954"},{"href":"/store/1957"},{"href":"/store/1958"},{"href":"/store/2291"},{"href":"/store/2295"},{"href":"/store/2945"},{"href":"/store/2959"},{"href":"/store/2984"},{"href":"/store/3842"},{"href":"/store/3894"},{"href":"/store/2951"}]}}'
        '500':
          description: An error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
    servers:
    - url: https://esl.caseys.io/oldstoreapi
  /organizational/divisions/{divisionId}:
    get:
      tags:
      - organization hierarchy
      summary: v0 Gets a division's information [DEPRECATED]
      description: Gets the data for a specific division in the organizational hierarchy.
      operationId: getDivisionByIdV0
      parameters:
      - name: divisionId
        in: path
        description: The unique identifier of the division to get information for.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: This resource represents a division in the organizational hierarchy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/divisionModelV0'
              example:
                id: 9088
                name: Division 3
                _links:
                  parent: null
                  children:
                  - href: /organizational/regions/13
                  - href: /organizational/regions/14
                  - href: /organizational/regions/15
                  - href: /organizational/regions/16
                  - href: /organizational/regions/17
                  - href: /organizational/regions/18
        '404':
          description: No resource was found for the given identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
        '500':
          description: An error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
    servers:
    - url: https://esl.caseys.io/oldstoreapi
  /organizational/divisions:
    get:
      tags:
      - organization hierarchy
      summary: v0 Gets a list of divisions [DEPRECATED]
      description: Gets a list of the data for all divisions in the organizational hierarchy.
      operationId: getDivisionsV0
      responses:
        '200':
          description: This resource represents a list of data for all divisions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/divisionListModelV0'
              example:
                data:
                - '{"id":9088,"name":"Division 3","_links":{"parent":null,"children":[{"href":"/organizational/regions/13"},{"href":"/organizational/regions/14"},{"href":"/organizational/regions/15"},{"href":"/organizational/regions/16"},{"href":"/organizational/regions/17"},{"href":"/organizational/regions/18"}]}}'
        '500':
          description: An error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
    servers:
    - url: https://esl.caseys.io/oldstoreapi
  /organizational/regions/{regionId}:
    get:
      tags:
      - organization hierarchy
      summary: v0 Gets a region's data [DEPRECATED]
      description: Gets the data for a specific region in the organizational hierarchy.
      operationId: getRegionByIdV0
      parameters:
      - name: regionId
        in: path
        description: The unique identifier of the region to get information about.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: This resource represents a region in the organizational hierarchy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/regionModelV0'
              example:
                id: 13
                name: Region 13
                _links:
                  parent:
                    href: /organizational/divisions/9088
                  children:
                  - href: /organizational/districts/13
                  - href: /organizational/districts/14
                  - href: /organizational/districts/107
                  - href: /organizational/districts/114
                  - href: /organizational/districts/115
                  - href: /organizational/districts/116
                  - href: /organizational/districts/117
                  - href: /organizational/districts/197
        '404':
          description: No resource was found for the given identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
        '500':
          description: An error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
    servers:
    - url: https://esl.caseys.io/oldstoreapi
  /organizational/regions:
    get:
      tags:
      - organization hierarchy
      summary: v0 Gets a list of regions [DEPRECATED]
      description: Gets a list of the data for all regions in the organizational hierarchy.
      operationId: getRegionsV0
      responses:
        '200':
          description: This resource represents a list of data for all regions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/regionListModelV0'
              example:
                data:
                - '{"id":13,"name":"Region 13","_links":{"parent":{"href":"/organizational/divisions/9088"},"children":[{"href":"/organizational/districts/13"},{"href":"/organizational/districts/14"},{"href":"/organizational/districts/107"},{"href":"/organizational/districts/114"},{"href":"/organizational/districts/115"},{"href":"/organizational/districts/116"},{"href":"/organizational/districts/117"},{"href":"/organizational/districts/197"}]}}'
        '500':
          description: An error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
    servers:
    - url: https://esl.caseys.io/oldstoreapi
  /store/{storeNumber}/organizational:
    get:
      tags:
      - organization hierarchy
      summary: v0 Gets a store's organizational hierarchy [DEPRECATED]
      description: Gets the organizational data for a specific store.
      operationId: getStoreOrganizationByIdV0
      parameters:
      - name: storeNumber
        in: path
        description: The unique identifier of the store to get data about.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: This resource represents a store's organizational hierarchy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organizationalModelV0'
              example:
                storeNumber: 2
                districtNumber: 57
                districtName: District 57
                divisionDirectorNumber: 910714062
                divisionDirectorName: DAVE JOHNSON
                divisionDirectorEmail: dave.johnson@caseys.com
                divisionDirectorExtension: 0
                divisionDirectorHomeStore: 9085
                regionNumber: 9
                regionName: Region 9
                regionDirectorNumber: 910714062
                regionDirectorName: JOHN GRAVES
                regionDirectorEmail: John.Graves@caseys.com
                regionDirectorExtension: 0
                regionDirectorHomeStore: 2654
                divisionNumber: 9085
                divisionName: Division 1
                districtSupervisorNumber: 910714062
                districtSupervisorName: DEBORAH AHRENS
                districtSupervisorEmail: DEBORAH.AHRENS@CASEYS.COM
                districtSupervisorExtension: 18702
                districtSupervisorHomeStore: 24
                managerNumber: 910250996
                managerName: LAURIE GARRETT
                managerEmail: null
                regionalMerchandisingManagerName: WILSON WILLIAMS
        '404':
          description: No resource was found for the given identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
        '500':
          description: An error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
    servers:
    - url: https://esl.caseys.io/storeapi
components:
  schemas:
    districtListModelV1:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/districtModelV1'
          description: The data collection.
    divisionListModelV0:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/divisionModelV0'
          description: The data collection.
    divisionModelV1:
      type: object
      properties:
        id:
          type: integer
          description: The unique identifier of the division.
          format: int32
        name:
          type: string
          description: The name of the division.
        _links:
          $ref: '#/components/schemas/linkModel'
      example: '{"id":9088,"name":"Division 3","_links":{"parent":null,"children":[{"href":"/v1/organizational/regions/13"},{"href":"/v1/organizational/regions/14"},{"href":"/v1/organizational/regions/15"},{"href":"/v1/organizational/regions/16"},{"href":"/v1/organizational/regions/17"},{"href":"/v1/organizational/regions/18"}]}}'
    divisionListModelV1:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/divisionModelV1'
          description: The data collection.
    link:
      type: object
      properties:
        href:
          type: string
          description: URL definition to a defined object.
    apiError:
      type: object
      properties:
        code:
          type: integer
          description: Status code of the error.
          format: int32
        message:
          type: string
          description: Message that describes the error.
    regionModelV0:
      type: object
      properties:
        id:
          type: integer
          description: The unique identifier of the region.
          format: int32
        name:
          type: string
          description: The name of the region.
        _links:
          $ref: '#/components/schemas/linkModel'
      example: '{"id":13,"name":"Region 13","_links":{"parent":{"href":"/organizational/divisions/9088"},"children":[{"href":"/organizational/districts/13"},{"href":"/organizational/districts/14"},{"href":"/organizational/districts/107"},{"href":"/organizational/districts/114"},{"href":"/organizational/districts/115"},{"href":"/organizational/districts/116"},{"href":"/organizational/districts/117"},{"href":"/organizational/districts/197"}]}}'
    districtListModelV0:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/districtModelV0'
          description: The data collection.
    divisionModelV0:
      type: object
      properties:
        id:
          type: integer
          description: The unique identifier of the division.
          format: int32
        name:
          type: string
          description: The name of the division.
        _links:
          $ref: '#/components/schemas/linkModel'
      example: '{"id":9088,"name":"Division 3","_links":{"parent":null,"children":[{"href":"/organizational/regions/13"},{"href":"/organizational/regions/14"},{"href":"/organizational/regions/15"},{"href":"/organizational/regions/16"},{"href":"/organizational/regions/17"},{"href":"/organizational/regions/18"}]}}'
    districtModelV0:
      type: object
      properties:
        id:
          type: integer
          description: The unique identifier of the district.
          format: int32
        name:
          type: string
          description: The name of the district.
        _links:
          $ref: '#/components/schemas/linkModel'
      example: '{"id":13,"name":"District 13","_links":{"parent":{"href":"/organizational/regions/13"},"children":[{"href":"/store/1906"},{"href":"/store/1930"},{"href":"/store/1954"},{"href":"/store/1957"},{"href":"/store/1958"},{"href":"/store/2291"},{"href":"/store/2295"},{"href":"/store/2945"},{"href":"/store/2959"},{"href":"/store/2984"},{"href":"/store/3842"},{"href":"/store/3894"},{"href":"/store/2951"}]}}'
    regionListModelV1:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/regionModelV1'
          description: The data collection.
    regionModelV1:
      type: object
      properties:
        id:
          type: integer
          description: The unique identifier of the region.
          format: int32
        name:
          type: string
          description: The name of the region.
        _links:
          $ref: '#/components/schemas/linkModel'
      example: '{"id":13,"name":"Region 13","_links":{"parent":{"href":"/v1/organizational/divisions/9088"},"children":[{"href":"/v1/organizational/districts/13"},{"href":"/v1/organizational/districts/14"},{"href":"/v1/organizational/districts/107"},{"href":"/v1/organizational/districts/114"},{"href":"/v1/organizational/districts/115"},{"href":"/v1/organizational/districts/116"},{"href":"/v1/organizational/districts/117"},{"href":"/v1/organizational/districts/197"}]}}'
    districtModelV1:
      type: object
      properties:
        id:
          type: integer
          description: The unique identifier of the district.
          format: int32
        name:
          type: string
          description: The name of the district.
        _links:
          $ref: '#/components/schemas/linkModel'
      example: '{"id":13,"name":"District 13","_links":{"parent":{"href":"/v1/organizational/regions/13"},"children":[{"href":"/v1/store/1906"},{"href":"/v1/store/1930"},{"href":"/v1/store/1954"},{"href":"/v1/store/1957"},{"href":"/v1/store/1958"},{"href":"/v1/store/2291"},{"href":"/v1/store/2295"},{"href":"/v1/store/2945"},{"href":"/v1/store/2959"},{"href":"/v1/store/2984"},{"href":"/v1/store/3842"},{"href":"/v1/store/3894"},{"href":"/v1/store/2951"}]}}'
    linkModel:
      type: object
      properties:
        parent:
          $ref: '#/components/schemas/link'
        children:
          type: array
          items:
            $ref: '#/components/schemas/link'
          description: URLs of the children objects.
      description: URLs that are related to the current object.
    regionListModelV0:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/regionModelV0'
          description: The data collection.
    divisionModelV1_2:
      type: object
      properties:
        id:
          type: integer
          description: The unique identifier of the division.
          format: int32
        name:
          type: string
          description: The name of the division.
        _links:
          $ref: '#/components/schemas/linkModel'
      example:
        id: 9088
        name: Division 3
        _links:
          parent: null
          children:
          - href: /v1/organizational/regions/13
          - href: /v1/organizational/regions/14
          - href: /v1/organizational/regions/15
          - href: /v1/organizational/regions/16
          - href: /v1/organizational/regions/17
          - href: /v1/organizational/regions/18
    regionModelV0_2:
      type: object
      properties:
        id:
          type: integer
          description: The unique identifier of the region.
          format: int32
        name:
          type: string
          description: The name of the region.
        _links:
          $ref: '#/components/schemas/linkModel'
      example:
        id: 13
        name: Region 13
        _links:
          parent:
            href: /organizational/divisions/9088
          children:
          - href: /organizational/districts/13
          - href: /organizational/districts/14
          - href: /organizational/districts/107
          - href: /organizational/districts/114
          - href: /organizational/districts/115
          - href: /organizational/districts/116
          - href: /organizational/districts/117
          - href: /organizational/districts/197
    divisionModelV0_2:
      type: object
      properties:
        id:
          type: integer
          description: The unique identifier of the division.
          format: int32
        name:
          type: string
          description: The name of the division.
        _links:
          $ref: '#/components/schemas/linkModel'
      example:
        id: 9088
        name: Division 3
        _links:
          parent: null
          children:
          - href: /organizational/regions/13
          - href: /organizational/regions/14
          - href: /organizational/regions/15
          - href: /organizational/regions/16
          - href: /organizational/regions/17
          - href: /organizational/regions/18
    districtModelV0_2:
      type: object
      properties:
        id:
          type: integer
          description: The unique identifier of the district.
          format: int32
        name:
          type: string
          description: The name of the district.
        _links:
          $ref: '#/components/schemas/linkModel'
      example:
        id: 13
        name: District 13
        _links:
          parent:
            href: /organizational/regions/13
          children:
          - href: /store/1906
          - href: /store/1930
          - href: /store/1954
          - href: /store/1957
          - href: /store/1958
          - href: /store/2291
          - href: /store/2295
          - href: /store/2945
          - href: /store/2959
          - href: /store/2984
          - href: /store/3842
          - href: /store/3894
          - href: /store/2951
    organizationalModelV0:
      type: object
      properties:
        storeNumber:
          type: integer
          description: The number of the store.
          format: int32
        districtNumber:
          type:
          - integer
          - 'null'
          description: The number of the district to which this store belongs in the store organizational structure.
          format: int32
        districtName:
          type: string
          description: The name of the district to which this store belongs in the store organizational structure.
        divisionDirectorNumber:
          type:
          - integer
          - 'null'
          description: The Regional Manager mailer ID.
          format: int64
        divisionDirectorName:
          type: string
          description: The name of the Regional Manager.
        divisionDirectorEmail:
          type: string
          description: The email of the Regional Manager over this store.
        divisionDirectorExtension:
          type: integer
          description: The Regional Manager store extension number.
          format: int32
        divisionDirectorHomeStore:
          type: integer
          description: The number of the home store for the Regional Manager.
          format: int32
        regionNumber:
          type:
          - integer
          - 'null'
          description: The number of the region to which this store belongs in the store organizational structure.
          format: int32
        regionName:
          type: string
          description: The name of the region to which this store belongs in the store organizational structure.
        regionDirectorNumber:
          type:
          - integer
          - 'null'
          description: District Manager mailer ID.
          format: int64
        regionDirectorName:
          type: string
          description: The name of the District Manager.
        regionDirectorEmail:
          type: string
          description: The email of the District Manager over this store.
        regionDirectorExtension:
          type: integer
          description: The District Manager store extension number.
          format: int32
        regionDirectorHomeStore:
          type: integer
          description: The number of the home store for the District Manager.
          format: int32
        divisionNumber:
          type:
          - integer
          - 'null'
          description: The number of the division to which this store belongs in the store organizational structure.
          format: int32
        divisionName:
          type: string
          description: The name of the division to which this store belongs in the store organizational structure.
        districtSupervisorNumber:
          type:
          - integer
          - 'null'
          description: Area Supervisor mailer ID.
          format: int64
        districtSupervisorName:
          type: string
          description: The name of the Area Supervisor.
        districtSupervisorEmail:
          type: string
          description: The email of the Area Supervisor over this store.
        districtSupervisorExtension:
          type: integer
          description: The Area Supervisor store extension number.
          format: int32
        districtSupervisorHomeStore:
          type: integer
          description: The number of the home store for the Area Supervisor.
          format: int32
        managerNumber:
          type:
          - integer
          - 'null'
          description: Store Manager mailer ID.
          format: int64
        managerName:
          type: string
          description: The name of the Store Manager.
        managerEmail:
          type: string
          description: The email of the Store Manager over this store.
        regionalMerchandisingManagerName:
          type: string
          description: The name of the Regional Merchandising Manager.
      example:
        storeNumber: 2
        districtNumber: 57
        districtName: District 57
        divisionDirectorNumber: 910714062
        divisionDirectorName: DAVE JOHNSON
        divisionDirectorEmail: dave.johnson@caseys.com
        divisionDirectorExtension: 0
        divisionDirectorHomeStore: 9085
        regionNumber: 9
        regionName: Region 9
        regionDirectorNumber: 910714062
        regionDirectorName: JOHN GRAVES
        regionDirectorEmail: John.Graves@caseys.com
        regionDirectorExtension: 0
        regionDirectorHomeStore: 2654
        divisionNumber: 9085
        divisionName: Division 1
        districtSupervisorNumber: 910714062
        districtSupervisorName: DEBORAH AHRENS
        districtSupervisorEmail: DEBORAH.AHRENS@CASEYS.COM
        districtSupervisorExtension: 18702
        districtSupervisorHomeStore: 24
        managerNumber: 910250996
        managerName: LAURIE GARRETT
        managerEmail: null
        regionalMerchandisingManagerName: WILSON WILLIAMS
    districtModelV1_2:
      type: object
      properties:
        id:
          type: integer
          description: The unique identifier of the district.
          format: int32
        name:
          type: string
          description: The name of the district.
        _links:
          $ref: '#/components/schemas/linkModel'
      example:
        id: 13
        name: District 13
        _links:
          parent:
            href: /v1/organizational/regions/13
          children:
          - href: /v1/store/1906
          - href: /v1/store/1930
          - href: /v1/store/1954
          - href: /v1/store/1957
          - href: /v1/store/1958
          - href: /v1/store/2291
          - href: /v1/store/2295
          - href: /v1/store/2945
          - href: /v1/store/2959
          - href: /v1/store/2984
          - href: /v1/store/3842
          - href: /v1/store/3894
          - href: /v1/store/2951
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
x-refined-from:
- caseys-general-stores-old-store-api-openapi.json
- caseys-general-stores-store-api-openapi.json
