openapi: 3.0.1
info:
  title: SupplierApi
  description: This is the OpenAPI Document on Azure Functions
  version: '1.0'
servers:
- url: https://esl.caseys.io/supplierapi
paths:
  /graphql:
    post:
      tags:
      - GraphQL
      summary: GraphQL endpoint for supplier data.
      description: Executes GraphQL operations for supplier data.
      operationId: graphql
      requestBody:
        description: The query to execute against the graph for data.
        content:
          application/json:
            schema:
              type: string
            example: string
      responses:
        '200':
          description: The supplier data returned from the executed graph query.
          content:
            application/json:
              schema:
                type: string
              example: string
  /v1/heartbeat:
    get:
      tags:
      - v1
      summary: v1 Gets the health of the API
      description: Interrogates the state of the API and its dependencies to return the API health.
      operationId: getHeartbeatV1
      responses:
        '200':
          description: The status of the APIs health. Healthy if all dependency health checks pass. Unhealthy if
            any dependency's health check fails, or if an exception occurs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/heartbeatReportV1'
              example:
                status: string
        '500':
          description: An error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/heartbeatReportV1'
              example:
                status: string
  /v1/suppliers:
    get:
      tags:
      - supplier
      summary: Gets the list of suppliers for a given store.
      description: Gets the list of supplier id and name for a given store.
      operationId: getSuppliersForStore
      parameters:
      - name: StoreNumber
        in: query
        description: Format - int32. The store number.
        required: true
        schema:
          type: integer
      - name: Limit
        in: query
        description: Format - int32. The number of records to retrieve.
        schema:
          type: integer
      - name: Offset
        in: query
        description: Format - int32. The number of records to offset from zero.
        schema:
          type: integer
      responses:
        '200':
          description: This resource represents a list of suppliers.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/supplier'
              example:
              - partitionKey: string
                id: string
                name: string
        '500':
          description: An error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/problemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
                extensions: {}
  /openapi/V3.json:
    get:
      summary: Get OpenApi Specification
      description: Gets the OpenApi specification in V3.json format with the parameters .
      operationId: getOpenApiSpec
      responses:
        '200':
          description: ''
components:
  schemas:
    heartbeatReportV1:
      type: object
      properties:
        status:
          type: string
    problemDetails:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
          format: int32
          nullable: true
        detail:
          type: string
        instance:
          type: string
        extensions:
          type: object
          additionalProperties:
            type: object
    supplier:
      type: object
      properties:
        partitionKey:
          type: string
        id:
          type: string
        name:
          type: string
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
security:
- apiKeyHeader: []
- apiKeyQuery: []
