openapi: 3.2.0
info:
  title: Caseys General Stores Organizational API
  version: '1.0'
  description: 'Operations tagged Organizational across 2 of this provider''s published API definitions: caseys-general-stores-store-api-openapi.json, caseys-general-stores-store-details-api-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://esl.caseys.io/storeapi
- url: https://esl.caseys.io/storedetailsapi
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: Organizational
paths:
  /v0/organizational/districts:
    get:
      tags:
      - Organizational
      summary: /v0/organizational/districts - GET
      operationId: get-v0-organizational-districts
      parameters:
      - name: offset
        in: query
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: OK
    servers:
    - url: https://esl.caseys.io/storeapi
  /v0/organizational/regions:
    get:
      tags:
      - Organizational
      summary: /v0/organizational/regions - GET
      operationId: get-v0-organizational-regions
      parameters:
      - name: offset
        in: query
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: OK
    servers:
    - url: https://esl.caseys.io/storeapi
  /v0/organizational/divisions:
    get:
      tags:
      - Organizational
      summary: /v0/organizational/divisions - GET
      operationId: get-v0-organizational-divisions
      parameters:
      - name: offset
        in: query
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: OK
    servers:
    - url: https://esl.caseys.io/storeapi
components:
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
x-refined-from:
- caseys-general-stores-store-api-openapi.json
- caseys-general-stores-store-details-api-openapi.json
