openapi: 3.2.0
info:
  title: StoreApi Region API
  description: The Store API is responsible for representing key points of information around stores.
  version: '1.0'
servers:
- url: https://esl.caseys.io/storeapi
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: Region
paths:
  /organizational/regions/{regionId}:
    get:
      tags:
      - Region
      summary: v0 Gets a region's data [DEPRECATED]
      description: Gets the data for a specific region in the organizational hierarchy.
      operationId: getRegionByIdV0
      parameters:
      - name: regionId
        in: path
        description: The unique identifier of the region to get information about.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: This resource represents a region in the organizational hierarchy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/regionModelV0'
              example:
                id: 13
                name: Region 13
                _links:
                  parent:
                    href: /organizational/divisions/9088
                  children:
                  - href: /organizational/districts/13
                  - href: /organizational/districts/14
                  - href: /organizational/districts/107
                  - href: /organizational/districts/114
                  - href: /organizational/districts/115
                  - href: /organizational/districts/116
                  - href: /organizational/districts/117
                  - href: /organizational/districts/197
        '404':
          description: No resource was found for the given identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
        '500':
          description: An error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              example:
                code: 0
                message: string
components:
  schemas:
    link:
      type: object
      properties:
        href:
          type: string
          description: URL definition to a defined object.
    regionModelV0:
      type: object
      properties:
        id:
          type: integer
          description: The unique identifier of the region.
          format: int32
        name:
          type: string
          description: The name of the region.
        _links:
          $ref: '#/components/schemas/linkModel'
      example:
        id: 13
        name: Region 13
        _links:
          parent:
            href: /organizational/divisions/9088
          children:
          - href: /organizational/districts/13
          - href: /organizational/districts/14
          - href: /organizational/districts/107
          - href: /organizational/districts/114
          - href: /organizational/districts/115
          - href: /organizational/districts/116
          - href: /organizational/districts/117
          - href: /organizational/districts/197
    apiError:
      type: object
      properties:
        code:
          type: integer
          description: Status code of the error.
          format: int32
        message:
          type: string
          description: Message that describes the error.
    linkModel:
      type: object
      properties:
        parent:
          $ref: '#/components/schemas/link'
        children:
          type: array
          items:
            $ref: '#/components/schemas/link'
          description: URLs of the children objects.
      description: URLs that are related to the current object.
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
