openapi: 3.0.1
info:
  title: StoreDetailsApi
  description: The Store API is responsible for representing key points of information around stores.
  version: '1.0'
servers:
- url: https://esl.caseys.io/storedetailsapi
paths:
  /v1/brands:
    get:
      tags:
      - brands
      summary: /v1/brands - GET
      operationId: get-v1-brands
      responses:
        '200':
          description: OK
  /:
    get:
      tags:
      - Caseys.StoreApi
      summary: / - GET
      operationId: get
      responses:
        '200':
          description: OK
  /v1/organizational/districts:
    get:
      tags:
      - Districts
      summary: /v1/organizational/districts - GET
      operationId: get-v1-organizational-districts
      parameters:
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      responses:
        '200':
          description: OK
  /v1/organizational/districts/{id}:
    get:
      tags:
      - Districts
      summary: /v1/organizational/districts/{id} - GET
      operationId: get-v1-organizational-districts-id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
  /v1/organizational/divisions:
    get:
      tags:
      - Divisions
      summary: /v1/organizational/divisions - GET
      operationId: get-v1-organizational-divisions
      parameters:
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      responses:
        '200':
          description: OK
  /v1/organizational/divisions/{id}:
    get:
      tags:
      - Divisions
      summary: /v1/organizational/divisions/{id} - GET
      operationId: get-v1-organizational-divisions-id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
  /v0/locations/states:
    get:
      tags:
      - Location
      summary: /v0/locations/states - GET
      operationId: get-v0-locations-states
      responses:
        '200':
          description: OK
  /v0/locations/dmas:
    get:
      tags:
      - Location
      summary: /v0/locations/dmas - GET
      operationId: get-v0-locations-dmas
      responses:
        '200':
          description: OK
  /v0/organizational/districts:
    get:
      tags:
      - Organizational
      summary: /v0/organizational/districts - GET
      operationId: get-v0-organizational-districts
      parameters:
      - name: offset
        in: query
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: OK
  /v0/organizational/regions:
    get:
      tags:
      - Organizational
      summary: /v0/organizational/regions - GET
      operationId: get-v0-organizational-regions
      parameters:
      - name: offset
        in: query
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: OK
  /v0/organizational/divisions:
    get:
      tags:
      - Organizational
      summary: /v0/organizational/divisions - GET
      operationId: get-v0-organizational-divisions
      parameters:
      - name: offset
        in: query
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: OK
  /v1/organizational/regions:
    get:
      tags:
      - Regions
      summary: /v1/organizational/regions - GET
      operationId: get-v1-organizational-regions
      parameters:
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      responses:
        '200':
          description: OK
  /v1/organizational/regions/{regionId}:
    get:
      tags:
      - Regions
      summary: /v1/organizational/regions/{regionId} - GET
      operationId: get-v1-organizational-regions-regionid
      parameters:
      - name: regionId
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
  /v1/stores/{storeNumber}:
    get:
      tags:
      - V1StoreById
      summary: /v1/stores/{storeNumber} - GET
      operationId: get-v1-stores-storenumber
      parameters:
      - name: storeNumber
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
  /v0/store/amenities:
    get:
      tags:
      - StoreAmenities
      summary: /v0/store/amenities - GET
      operationId: get-v0-store-amenities
      parameters:
      - name: storeNumbers
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
  /v1/stores/organizational:
    get:
      tags:
      - StoreOrganizational
      summary: /v1/stores/organizational - GET
      operationId: get-v1-stores-organizational
      parameters:
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      responses:
        '200':
          description: OK
  /v1/stores/{storeNumber}/organizational:
    get:
      tags:
      - StoreOrganizational
      summary: /v1/stores/{storeNumber}/organizational - GET
      operationId: get-v1-stores-storenumber-organizational
      parameters:
      - name: storeNumber
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
  /v0/version:
    get:
      tags:
      - Version
      summary: /v0/version - GET
      operationId: get-v0-version
      responses:
        '200':
          description: OK
  /health:
    get:
      tags:
      - Health
      summary: Health Check
      description: Returns the health status of the application
      operationId: get-health
      responses:
        '200':
          description: Healthy
        '503':
          description: Unhealthy
  /v1/stores:
    get:
      tags:
      - V1Stores
      summary: /v1/stores - GET
      operationId: get-v1-stores
      parameters:
      - name: Offset
        in: query
        schema:
          type: integer
      - name: Limit
        in: query
        schema:
          type: integer
      - name: StoreName
        in: query
        schema:
          type: string
      - name: StoreNumber
        in: query
        schema:
          type: string
      - name: Status
        in: query
        schema:
          type: string
      - name: Brand
        in: query
        schema:
          type: string
      - name: Classification
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
  /v1/stores/hours:
    get:
      tags:
      - V1StoreHours
      summary: /v1/stores/hours - GET
      operationId: get-v1-stores-hours
      parameters:
      - name: offset
        in: query
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: OK
  /v1/stores/{storeNumber}/hours:
    get:
      tags:
      - V1StoreHoursByStoreNumber
      summary: /v1/stores/{storeNumber}/hours - GET
      operationId: get-v1-stores-storenumber-hours
      parameters:
      - name: storeNumber
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
  /swagger/v1/swagger.json:
    get:
      summary: Get OpenApi Specification
      description: Gets the OpenApi specification in . format with the parameters .
      operationId: getOpenApiSpec
      responses:
        '200':
          description: ''
components:
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
security:
- apiKeyHeader: []
- apiKeyQuery: []
