openapi: 3.2.0
info:
  title: Caseys General Stores V0 API
  version: '1.0'
  description: 'Operations tagged v0 across 2 of this provider''s published API definitions: caseys-general-stores-old-store-api-openapi.json, caseys-general-stores-store-api-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://esl.caseys.io/oldstoreapi
- url: https://esl.caseys.io/storeapi
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: v0
paths:
  /heartbeat:
    get:
      tags:
      - v0
      summary: v0 Gets the health of the API [DEPRECATED]
      description: Interrogates the state of the API and its dependencies to return the API health.
      operationId: getHeartbeatV0
      responses:
        '200':
          description: The status of the APIs health. Healthy if all dependency health checks pass. Unhealthy if any dependency's health check fails, or if an exception occurs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/heartbeatReportV0'
              example:
                status: Healthy
        '500':
          description: An error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/heartbeatReportV0'
              example:
                status: Healthy
    servers:
    - url: https://esl.caseys.io/oldstoreapi
components:
  schemas:
    heartbeatReportV0:
      type: object
      properties:
        status:
          type: string
          description: Description of the current status of dependencies of the API.
      example: '{"status":"Healthy"}'
    heartbeatReportV0_2:
      type: object
      properties:
        status:
          type: string
          description: Description of the current status of dependencies of the API.
      example:
        status: Healthy
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
x-refined-from:
- caseys-general-stores-old-store-api-openapi.json
- caseys-general-stores-store-api-openapi.json
