{"openapi":"3.0.1","info":{"title":"PowerInventoryApi","description":"This is the OpenAPI Document on Azure Functions","version":"1.0"},"servers":[{"url":"https://esl.caseys.io/powerinventoryapi"}],"paths":{"/v1/heartbeat":{"get":{"tags":["v1"],"summary":"v1 Gets the health of the API","description":"Interrogates the state of the API and its dependencies to return the API health.","operationId":"getHealthCheck","responses":{"200":{"description":"The status of the APIs health. Healthy if all dependency health checks pass. Unhealthy if any dependency's health check fails, or if an exception occurs.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/heartBeatReport"},"example":{"status":"string"}}}},"500":{"description":"An error occurred while processing the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/heartBeatReport"},"example":{"status":"string"}}}}}}},"/graphql":{"post":{"tags":["GraphQL"],"summary":"GraphQL endpoint for power inventory data.","description":"Executes GraphQL operations for power inventory data.","operationId":"graphql","requestBody":{"description":"The query to execute against the graph for data.","content":{"application/json":{"schema":{"type":"string"},"example":"string"}}},"responses":{"200":{"description":"The power inventory data returned from the executed graph query.","content":{"application/json":{"schema":{"type":"string"},"example":"string"}}}}}},"/openapi/V3.json":{"get":{"summary":"Get OpenApi Specification","description":"Gets the OpenApi specification in V3.json format with the parameters .","operationId":"getOpenApiSpec","responses":{"200":{"description":""}}}}},"components":{"schemas":{"heartBeatReport":{"type":"object","properties":{"status":{"type":"string"}}}},"securitySchemes":{"apiKeyHeader":{"type":"apiKey","name":"Ocp-Apim-Subscription-Key","in":"header"},"apiKeyQuery":{"type":"apiKey","name":"subscription-key","in":"query"}}},"security":[{"apiKeyHeader":[]},{"apiKeyQuery":[]}]}