{"openapi":"3.0.1","info":{"title":"TeamMemberApi","description":"An API to obtain team member information.","version":"1.0"},"servers":[{"url":"https://esl.caseys.io/teammemberapi"}],"paths":{"/heartbeat":{"get":{"tags":["heartbeat","TeamMemberApi"],"summary":"V1 Gets the health of the API","description":"Interrogates the state of the API and its dependencies to return the API health.","operationId":"getHeartbeatV1","responses":{"200":{"description":"The status of the APIs health. Healthy if all dependency health checks pass. Unhealthy if any dependency's health check fails, or if an exception occurs.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/heartbeatReport"},"example":{"status":"string"}}}},"500":{"description":"An error occurred while processing the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/heartbeatReport"},"example":{"status":"string"}}}}}}},"/openapi/V3.json":{"get":{"summary":"Get OpenApi Specification","description":"Gets the OpenApi specification in V3.json format with the parameters heartbeat.","operationId":"getOpenApiSpec","responses":{"200":{"description":""}}}}},"components":{"schemas":{"heartbeatReport":{"type":"object","properties":{"status":{"type":"string","description":"Description of the current status of dependencies of the API."}}}},"securitySchemes":{"apiKeyHeader":{"type":"apiKey","name":"Ocp-Apim-Subscription-Key","in":"header"},"apiKeyQuery":{"type":"apiKey","name":"subscription-key","in":"query"}}},"security":[{"apiKeyHeader":[]},{"apiKeyQuery":[]}]}